.PodcastsHero {
  padding: 2.9rem 12rem 13rem;
  @include media("<phone") {
    padding: 1.3rem 1.6rem 0;
  }
}

.PodcastsHero__wrapper {
  display: flex;
  gap: 1rem;
  position: relative;
  @include media("<phone") {
    flex-direction: column;
    gap: unset;
    margin-bottom: 7.5rem;
  }
}

.PodcastsHero__left {
  border-radius: 2.4rem;
  overflow: hidden;
  position: relative;
  width: 81.3rem;
  // height: 47rem;
  @include media("<phone") {
    width: 35.7rem;
    height: 29.4rem;
    position: relative;
    z-index: 1;
  }

  figure {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    --bg: linear-gradient(180deg, rgba(0, 0, 0, 0) -26.3%, rgba(0, 0, 0, 0.7) 100%);
    img {
      filter: brightness(0.85);
      object-fit: cover;
      background-color: #000000;
      @include media("<phone") {
        object-position: 50%;
      }
    }

    &:after {
      background: var(--bg);
      content: "";
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      pointer-events: none;
    }
  }

  div {
    position: absolute;
    padding: 23.6rem 35.5rem 5.9rem 5.3rem;
    width: 100%;
    bottom: 0;
    left: 0;
    @include media("<phone") {
      padding: 14.2rem 2.9rem 3.251rem;
    }
  }

  h4 {
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 0.8;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    @include media("<phone") {
      font-size: 1.312rem;
      line-height: 1;
      gap: 0.4rem;
    }

    span {
      width: 1.2rem;
      height: 1.2rem;
      background-color: #f8a519;
      border-radius: 50%;
      @include media("<phone") {
        width: 0.787rem;
        height: 0.787rem;
      }
    }
  }

  h3 {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 105.26%;
    color: #ffffff;
    margin-top: 1.6rem;
    @include media("<phone") {
      font-size: 1.968rem;
      margin-top: 1.049rem;
    }
  }

  aside {
    display: flex;
    margin-top: 2.4rem;
    gap: 0.27rem;
    width: fit-content;
    position: relative;
    left: -1.639rem;
    @include media("<phone") {
      margin-top: 1.6rem;
      left: -1.248rem;
      gap: 0.2rem;
    }
    strong {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  a,
  button {
    background-color: unset !important;
    display: flex;
    align-items: center;
    display: flex;
    gap: 0.9rem;
    padding: 0 1.639rem;
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.02em;
    color: #ffffff;
    @include media("<phone") {
      padding: 0 1.248rem;
      font-size: 1.526rem;
    }
  }
}

.PodcastsHero__right {
  display: grid;
  width: 37.7rem;
  // height: 47rem;
  overflow: hidden;
  background: #ffffff;
  border-radius: 2.4rem;
  padding: 3.7rem 2rem;
  height: 45rem;
  align-content: flex-start;
  overflow: scroll;
  @include media("<phone") {
    margin-inline: 0.6rem;
    width: unset;
    // height: 52.8rem;
    // position: relative;
    margin-top: -7.5rem;
    border-radius: 2.2rem;
    padding: 8.982rem 1.6rem 1.18rem;
  }

  h5 {
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 700;
    font-size: 1.46087rem;
    line-height: 1.5;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: -0.9rem;
    display: flex;
    align-items: center;
    span {
      margin-right: 0.548rem;
      content: "";
      display: block;
      border-radius: 50%;
      width: 1.096rem;
      height: 1.096rem;
      background-color: #f8a519;
    }
  }

  li {
    position: relative;
    &:after {
      content: "";
      width: 100%;
      height: 0.1rem;
      background-color: #f5f5f5;
      position: absolute;
      bottom: -0.05rem;
      left: 0;
    }

    &:last-of-type::after {
      display: none;
    }

    div {
      padding: 2.8rem 1.6rem;
      @include media("<phone") {
        padding: 0;
        padding: 2.4rem 1.15rem;
      }
    }

    h4 {
      font-family: "Nohemi";
      font-style: normal;
      font-weight: 700;
      font-size: 1.461rem;
      line-height: 1;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #000000;
      display: flex;
      align-items: flex-start;
      gap: 0.55rem;
      @include media("<phone") {
        font-size: 1.337rem;
        gap: 0.501rem;
      }

      span {
        width: 1.1rem;
        height: 1.1rem;
        background-color: #f8a519;
        border-radius: 50%;
        @include media("<phone") {
          width: 1rem;
          height: 1rem;
        }
      }
    }

    h3 {
      font-family: "Euclid Circular A";
      font-style: normal;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 105.26%;
      color: #000000;
      margin-top: 0.6rem;
      @include media("<phone") {
        width: unset;
        font-size: 1.4rem;
        margin-top: 0.55rem;
      }
    }

    aside {
      display: flex;
      margin-top: 1.6rem;
      background-color: #f5f5f5;
      gap: 0.27rem;
      width: fit-content;
      position: relative;
      left: -1.2rem;
      @include media("<phone") {
        gap: 0.1rem;
      }
    }

    a,
    button {
      background-color: unset;
      display: flex;
      align-items: center;
      display: flex;
      gap: 0.9rem;
      padding: 0 1.2rem;
      font-family: "Euclid Circular A";
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.8rem;
      letter-spacing: -0.02em;
      color: #787878;
    }
    a path {
      stroke: #787878;
    }
    button path {
      fill: #787878;
    }

    svg {
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}
