.__podcasts {
  padding-top: 9.6rem;
  // position: relative;
  background-color: #f5f5f5;
  min-height: max(100rem, 100vh);

  .Searcher {
    margin-top: 2.4rem;
    @include media("<phone") {
      margin-top: 0;
    }
  }

  .Vid__Comments {
    width: 100%;
    padding: 6rem 12rem;
    position: relative;
    @include media("<phone") {
      padding: 0 2.4rem 2.4rem;
    }

    & > div {
      gap: 1.6rem;
      justify-content: space-between;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding-bottom: 2.2rem;

      & > svg {
        width: 2.4rem;
        height: 2.4rem;
        position: fixed;
        z-index: 10;
        top: 4.1rem;
        right: 4.9rem;
      }
    }

    h4 {
      font-family: "Nohemi";
      font-style: normal;
      font-weight: 700;
      font-size: 2rem;
      line-height: 99.01%;
      letter-spacing: -0.02em;
      color: #191919;
    }

    form {
      margin-top: 2.2rem;
      position: relative;

      button {
        display: flex;
        gap: 0.7rem;
        height: 2rem;
        position: absolute;
        bottom: 1.1rem;
        right: 1rem;
        justify-content: center;
        align-items: center;
        width: 7.6rem;
        height: 3.3rem;
        background: #f8a519;
        border-radius: 0.8rem;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.14;
        font-feature-settings: "zero" on;
        color: #ffffff;

        svg {
          width: 1.9rem;
          height: 1.9rem;
        }
      }
    }

    textarea {
      resize: none;
      width: 100%;
      height: 11.5rem;
      background: transparent;
      border: 0.1rem solid #282828;
      border-radius: 1.2rem;
      color: #191919 !important;
      padding: 1.2rem;
    }
  }

  .Comment {
    position: relative;
    h5,
    h6,
    p {
      color: #191919;
    }
    &::after {
      width: 100%;
      left: 0;
      opacity: 0.1;
    }
  }
}

.podcasts__more {
  font-family: "Euclid Circular A";
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #090908;
  position: relative;
  text-decoration: underline;
  margin: 8.4rem auto 11rem;
  text-underline-offset: 0.25em;
  display: flex;
  @include media("<phone") {
    margin: 2.9rem auto 17.6rem;
    font-size: 1.312rem;
  }
}

@import "./hero.scss";
@import "./audio.scss";
