.BlogItem {
  @include media("<phone") {
  }

  figure {
    width: 100%;
    height: 16.5rem;
    background: #d9d9d9;
    border-radius: 1.2rem 1.2rem 0 0;
    overflow: hidden;
    @include media("<phone") {
      border-radius: 1.6rem 1.6rem 0 0;
    }
  }
}

.BlogItem__hover {
  width: 100%;
  border-radius: 1.6rem;
  overflow: hidden;
  padding: 2.5rem 4rem 2.9rem 2.6rem;
  border-radius: 0 0 1.2rem 1.2rem;
  background-color: #ffffff;
  @include media("<phone") {
    border-radius: 0 0 1.6rem 1.6rem;
    padding: 2.5rem 4.3rem 2.3rem 2rem;
  }

  div {
    display: flex;
    justify-content: space-between;
  }

  h4 {
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 700;
    font-size: 1.461rem;
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #000000;
    display: flex;
    align-items: flex-start;
    gap: 0.55rem;
    @include media("<phone") {
      font-size: 1.337rem;
      gap: 0.501rem;
    }

    span {
      width: 1.1rem;
      height: 1.1rem;
      background-color: #f8a519;
      border-radius: 50%;
      @include media("<phone") {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  h3 {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 105.26%;
    color: #000000;
    margin-top: 0.6rem;
    @include media("<phone") {
      width: unset;
      font-size: 1.4rem;
      margin-top: 0.55rem;
    }
  }
}
