.BlogSection {
  color: #000000;
  padding: 5rem 12rem 0;
  @include media("<phone") {
    padding: 3.4rem 2.2rem 0;
  }

  h4 {
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 99.01%;
    letter-spacing: -0.02em;
    display: flex;
    @include media("<phone") {
      font-size: 1.6rem;
    }
  }
}

.BlogSection__Blogs {
  margin-top: 1.9rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  @include media("<phone") {
    gap: 1.6rem;
    margin-top: 1.4rem;
    grid-template-columns: 1fr;
  }
}
