.course__sort {
  margin-inline: auto;
  width: 120rem;
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  @include media("<phone") {
    width: 35.7rem;
    gap: 1.2rem;
  }

  button {
    display: flex;
    width: fit-content;
    padding: 1rem 1.4rem;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 4.8rem;
    border: 0.1rem solid #dcdcdc;
    color: #929292;
    font-family: "Euclid Circular A";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 105.264%; /* 1.4737rem */
    @include media("<phone") {
      font-size: 1.2rem;
    }

    &.active {
      background: #000;
      color: var(--Main-White, #fff);
    }
  }
}

.courses {
  margin-inline: auto;
  width: 120rem;
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  display: grid;
  grid-template-columns: repeat(4, 27.2rem);
  align-items: start;
  @include media("<phone") {
    grid-template-columns: 35.7rem;
    margin: 4rem auto;
    justify-content: center;
    width: unset;
    gap: 4.8rem;
    padding-bottom: 10rem;
  }
}

.CourseItem {
  figure {
    overflow: hidden;
    width: 27.2rem;
    height: 14.6rem;
    border-radius: 1.2rem;
    background: var(--Main-White, #fff);
    @include media("<phone") {
      width: 35.7rem;
      height: 19.1625rem;
    }
  }

  h3 {
    color: #353535;
    font-family: "Euclid Circular A";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 105.264%; /* 1.6842rem */
    margin-top: 1.2rem;
    @include media("<phone") {
      width: 90%;
    }
  }

  h4 {
    margin-top: 0.5rem;
    color: #929292;
    font-family: "Euclid Circular A";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 105.264%; /* 1.4737rem */
    white-space: break-spaces;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @include media("<phone") {
      width: 90%;
    }
  }

  aside {
    display: flex;
    margin-top: 1.9rem;
    align-items: center;
    @include media("<phone") {
      width: 90%;
    }
  }

  aside img {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
  }

  h5 {
    color: #929292;
    font-family: "Euclid Circular A";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 105.264%; /* 1.4737rem */
    margin-inline: 1rem auto;
  }

  h6 {
    color: #353535;
    font-family: "Euclid Circular A";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 105.264%; /* 1.6842rem */
  }
}

.course {
  margin-inline: auto;
  width: 120rem;
  margin-top: 2.3rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  display: grid;
  grid-template-columns: 79.3rem 38.7rem;
  @include media("<phone") {
    grid-template-columns: unset;
    margin: 0 auto;
    width: 34.5rem !important;
  }
  .course__sort {
    gap: 0.6rem;
    @include media("<phone") {
      // gap: 1.2rem;
      margin-inline: 0;
    }
  }
}

.course__left {
  figure {
    overflow: hidden;
    width: 79.3rem;
    height: 44.7rem;
    border-radius: 2.4rem;
    background: var(--Main-White, #fff);
    .bought & {
      width: 120rem;
      height: 54.7rem;
    }
    @include media("<phone") {
      width: 34.5rem !important;
      height: 19.1625rem !important;
    }
  }

  h3 {
    color: #353535;
    font-family: "Euclid Circular A";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 105.264%; /* 1.6842rem */
    margin-top: 1.2rem;
    @include media("<phone") {
      width: 29.2rem;
    }
  }

  h4 {
    margin-top: 0.5rem;
    color: #929292;
    font-family: "Euclid Circular A";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 105.264%; /* 1.4737rem */
    @include media("<phone") {
      width: 29.2rem;
    }
  }

  aside {
    display: flex;
    margin-top: 1.9rem;
    align-items: center;
    @include media("<phone") {
      width: 34.5rem;
    }
  }

  aside img {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
  }

  h5 {
    color: #929292;
    font-family: "Euclid Circular A";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 105.264%; /* 1.4737rem */
    margin-inline: 1rem auto;
  }

  h6 {
    color: #353535;
    font-family: "Euclid Circular A";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 105.264%; /* 1.6842rem */

    div {
      flex: 1;
    }

    span {
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 0.4rem;
    }
  }
}

.course__details {
  width: 79.3rem;
  border-radius: 1.6rem;
  background: var(--Main-White, #fff);
  margin-top: 1.7rem;
  padding: 2.1rem 0 3rem;
  .bought & {
    width: 120rem;
  }
  @include media("<phone") {
    width: 34.5rem !important;
  }

  h3 {
    color: #000;
    font-family: "Euclid Circular A";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 105.264%; /* 1.4737rem */
    padding-left: 1.8rem;
    padding-bottom: 1.5rem;
    border-bottom: 0.1rem solid #f5f5f5;
  }

  h4 {
    margin-top: 0.5rem;
    color: #929292;
    font-family: "Euclid Circular A";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 105.264%; /* 1.4737rem */
    padding: 1.8rem 1.8rem 0;
    white-space: break-spaces;
    @include media("<phone") {
      width: 90%;
    }
  }
}

.course__module__item {
  display: flex;
  padding: 1.07rem 3.4rem 1.07rem 1.8rem;
  gap: 2.1rem;
  align-items: center;

  svg {
    width: 2.4rem;
    height: 2.4rem;
  }

  div {
    display: grid;
    color: #353535;
    font-family: "Euclid Circular A";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 105.264%; /* 1.6842rem */

    span:nth-of-type(2) {
      color: #929292;
      font-family: "Euclid Circular A";
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 105.264%; /* 1.4737rem */
      @include media("<phone") {
        font-size: 1.2rem;
        color: #f8a519;
        &::before {
          font-size: 1.4rem;
          content: "Play  (";
        }
        &::after {
          font-size: 1.4rem;
          content: ")";
        }
      }
    }
  }
}

.course__right {
  align-self: flex-start;
  width: 38.7rem;
  height: 27.1rem - 4.1rem;
  border-radius: 2.4rem;
  background: var(--Main-White, #fff);
  @include media("<phone") {
    width: 34.5rem !important;
  }

  p {
    color: #929292;
    font-family: "Euclid Circular A";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 105.264%; /* 1.4737rem */
    padding: 2rem 2.2rem 0;
  }

  h2 {
    color: #353535;
    font-family: Nohemi;
    font-size: 3.0118rem;
    font-style: normal;
    font-weight: 700;
    line-height: 105.264%; /* 3.1703rem */
    padding: 1.3rem 2.2rem 1.6rem;
    border-bottom: 0.1rem solid #f5f5f5;
  }

  h5 {
    display: flex;
    padding: 1.09rem 2.2rem 2.82rem;
    gap: 0.63rem;
    align-items: center;
    color: #787878;
    font-family: "Euclid Circular A";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 105.264%; /* 1.6842rem */

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  div {
    display: flex;
    padding: 0 2.1rem 2.2rem;

    a {
      display: flex;
      width: 29.5rem;
      max-height: 4.17rem;
      padding: 1.1846rem 0.6968rem;
      justify-content: center;
      align-items: center;
      gap: 0.8641rem;
      border-radius: 0.8rem;
      background: #f8a519;
      color: #090908;
      font-family: "Euclid Circular A";
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.028rem;
    }

    article {
      display: flex;
      width: 4.7rem;
      height: 4.2rem;
      padding: 0.9rem 1.1rem 0.9rem 1.2rem;
      justify-content: center;
      align-items: center;
      border-radius: 0.8rem;
      border: 1px solid #efefef;
      margin-left: 0.4rem;
    }
  }
}

.play {
  display: inline-flex;
  margin-left: auto;
  width: fit-content;
  padding: 1rem 3.35rem;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 4.8rem;
  border: 0.1rem solid #dcdcdc;
  color: #929292;
  font-family: "Euclid Circular A";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 105.264%; /* 1.4737rem */
  position: absolute;
  top: 0.35rem;
  right: 0;
  @include media("<phone") {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: -2rem;
    border-radius: unset;
    opacity: 0;
  }
  &:hover {
    color: #000;
    border: 0.1rem solid #000;
  }
  @include media("<phone") {
    font-size: 1.2rem;
  }

  &.active {
    background: #000;
    color: var(--Main-White, #fff);
  }
}
