.engagements {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    align-items: center;

    .engagement {
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        align-items: center;

        .span {

        }

        &_icon {
            width: 3rem;
            height: 3rem;

            &.liked {
                fill: #f8a519;
            }
        }
    }
}