.TipTap__wrapper {
  position: relative;
  width: 120rem;
  margin: 0 12rem;
  height: 85vh;
  overflow: scroll;
  background: #ffffff;
  border: unset;
  border-radius: 1.7rem;

  textarea {
    font-family: "Nohemi";
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 99.01%;
    letter-spacing: -0.02em;
    height: 4rem;
    padding: 0.6rem 1.3rem;
    background-color: transparent;
    outline: none;
    border: none;
    z-index: 100;
    border-left: 1px solid #c4c4c4;
    width: 120rem - 3.9rem - 3.9rem;
    margin-left: 3.9rem;
    margin-top: 3.4rem;
    resize: none;
    background-color: inherit;

    &:placeholder-shown {
      color: #c4c4c4;
    }

    &:focus {
      outline: none;
    }
  }
}

.tiptap {
  width: 100%;
  // height: 20rem;
  // overflow: scroll;
  border: 0.1rem solid #090908;
  position: relative;
  font-family: "Euclid Circular A";
  line-height: 99.01%;
  letter-spacing: -0.02em;
  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 0.175em;
    color: #787878;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    font-weight: 800;
  }

  h2 {
    font-size: 2.4rem;
    font-family: "Nohemi";
    font-weight: 600;
  }

  h3 {
    font-size: 2.1rem;
    font-family: "Nohemi";
    font-weight: 500;
  }

  p {
    font-size: 1.8rem;
    line-height: 1.5;
  }

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  img {
    width: 20rem;
    height: auto;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }
}

/* remove outline */
.ProseMirror:focus {
  outline: none;
}
/* set */
.ProseMirror {
  width: unset;
  height: unset;
  overflow: scroll;
  position: static !important;
  left: 5rem;
  right: 5rem;
  top: 9rem;
  bottom: 9rem;
  background: #ffffff;
  padding: 2.1rem 5.2rem;
  border: unset;
}

.TipTapTools {
  position: fixed;
  bottom: 7.5vh;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 44.8rem + 4.7rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  height: 5.6rem;
  background: #f5f5f5;
  border-radius: 0.8rem;
  padding: 0.8rem;

  button {
    width: 4rem;
    height: 4rem;
    padding: 0.8rem;
    overflow: hidden;
    background-color: transparent;
    border-radius: 0.4rem;
    cursor: pointer;
    &:hover {
      background-color: mix($color1: #f5f5f5, $color2: #ffffff, $weight: 50%);
    }
  }

  .is-active {
    background-color: #ffffff;
  }

  svg {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.tiptap p.is-editor-empty:first-child::before {
  color: #c4c4c4;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
