.PodcastsItem {
  display: flex;
  position: relative;
  justify-content: space-between;
  @include media("<phone") {
    flex-direction: column;
  }

  &::after {
    content: "";
    position: absolute;
    width: 108.1rem;
    left: 0;
    bottom: -2.5rem;
    height: 0.2rem;
    background-color: #efefef;
    @include media("<phone") {
      width: 29.6rem;
      height: 0.15rem;
    }
  }

  aside {
    display: flex;
    margin-top: 2.2rem;
    background-color: rgba(255, 255, 255, 0.2);
    gap: 0.27rem;
    width: fit-content;
    position: relative;
    left: -1.357rem;
    background-color: #dddddd;
    height: 2rem;
    @include media("<phone") {
      left: -0.3rem;
      margin-top: 1.2rem;
      gap: 0.1rem;
    }

    a,
    button {
      background-color: unset;
      display: flex;
      align-items: center;
      display: flex;
      gap: 0.9rem;
      padding: 0 1.357rem;
      font-family: "Euclid Circular A";
      font-style: normal;
      font-weight: 400;
      font-size: 2rem;
      line-height: 2rem;
      letter-spacing: -0.02em;
      color: #787878;
      @include media("<phone") {
        font-size: 1.4rem;
      }
    }

    a path {
      stroke: #787878;
    }
    button path {
      fill: #787878;
    }

    svg {
      width: 1.809rem;
      height: 1.809rem;
    }
  }
}

.PodcastsItem__hover {
  width: 75.673rem;
  border-radius: 1.6rem;
  overflow: hidden;
  padding: 0rem 23.523rem 0rem 1.65rem;
  @include media("<phone") {
    padding: 0rem 1.15rem;
    width: unset;
    display: grid;
  }

  div {
    display: flex;
    justify-content: space-between;
  }

  h4 {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: -0.02em;
    color: #787878;
    margin-top: 1.2rem;
    display: flex;
    background-color: #dcdcdc;
    width: fit-content;
    gap: 0.2rem;
    position: relative;
    left: -1.15rem;
    @include media("<phone") {
      font-size: 1.337rem;
      gap: 0.501rem;
      order: 0;
      gap: 0.1rem;
    }

    span {
      padding: 0 1.337rem;
      background-color: #ffffff;
    }
  }

  h3 {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 105.26%;
    color: #000000;
    @include media("<phone") {
      width: 30rem;
      font-size: 1.5rem;
      order: 1;
      margin-top: 1.2rem;
    }
  }
}
