.preloading {
  // max-height: 100dvh;
  // opacity: 0;
  // overflow: hidden;
}

.Preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  z-index: 100;
  pointer-events: none;
}

.Preloader__top {
  background-color: #f5f5f5;
  position: absolute;
  height: 50%;
  width: 100%;
  top: 0;
  left: 0;
}

.Preloader__bottom {
  background-color: #f5f5f5;
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: 0;
  left: 0;
}

.Preloader__logo {
  width: 32rem;
  height: auto;
  opacity: 0;
  position: relative;
  z-index: 2;
  @include media("<phone") {
    width: 16rem;
  }

  ellipse {
    position: absolute;
    transform-origin: 50% 50%;
  }
}

.Preloader__spinner {
  width: 8rem;
  position: relative;
  left: 1rem;
  margin-top: -1rem;
  height: auto;
  opacity: 0;
  display: block;
  margin-inline: auto;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  z-index: 4;
  @include media("<phone") {
    width: 4rem;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.PostPage {
  position: fixed;
  background-color: #f5f5f5;
  width: 100vw;
  height: 111vh;
  top: 0 !important;
  left: 0 !important;
  z-index: 120;
  transform-origin: 0% 0%;
  transform: scaleY(0);
}
