/* Webfont: Nohemi-Light */
@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-Light.woff2") format("woff2"), /* Modern Browsers */ url("/fonts/Nohemi-Light.otf") format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
