.__about {
  padding-top: 9.6rem;
  background-color: #f5f5f5;

  .Join {
    &.no-scroll {
      @include media("<phone") {
        margin-bottom: 40.7rem !important;
      }
    }
  }
}

.about__body {
  padding: 3.7rem 12rem 11.6rem;
  display: flex;
  gap: 6.3rem;
  @include media("<phone") {
    padding: 0.8rem 3rem 8.17rem 2.3rem;
    flex-direction: column-reverse;
    gap: 3.5rem;

    &:nth-of-type(3) {
      margin-top: -6rem;
    }
  }

  h3 {
    width: 51.7rem;
    font-family: "Nohemi";
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 99.01%;
    letter-spacing: -0.02em;
    color: #090908;
    @include media("<phone") {
      width: unset;
      font-size: 2.4rem;
      width: 24rem;
    }
  }

  p {
    font-family: "Euclid Circular A";
    white-space: pre-line;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 135.9%;
    leading-trim: both;
    text-edge: cap;
    letter-spacing: -0.02em;
    color: #787878;
    margin: 2.5rem 0;
    @include media("<phone") {
      margin: 1.6rem 0;
      font-size: 1.4rem;
      width: 33.7rem;
    }
  }

  img {
    width: 44.4rem;
    height: 49.13rem;
    border-radius: 1.7201rem;
    margin-top: 10rem;
    background: #f8a519;
    @include media("<phone") {
      margin: 3rem auto;
      width: 31.1rem;
      height: 32.7rem;
    }
  }

  h4 {
    margin-top: 6.9rem;
    display: flex;
    gap: 1.5rem;
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 135.94%;
    leading-trim: both;
    text-edge: cap;
    letter-spacing: -0.02em;
    color: #090908;
    align-items: center;
    @include media("<phone") {
      margin-top: 3rem;
      font-size: 1.6rem;
      gap: 0.8rem;
    }

    span {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      width: 13.1rem;
      height: 3.3rem;
      background: #f8a519;
      border-radius: 1rem;
      color: #ffffff;
      @include media("<phone") {
        border-radius: 2.7rem;
        font-size: 1.3rem;
        width: 10rem;
        height: 2.93rem;
      }
    }
  }

  // h3 {
  //   margin: 2.7rem 0 1.4rem;
  //   font-family: "Nohemi";
  //   font-style: normal;
  //   font-weight: 500;
  //   font-size: 2.2rem;
  //   line-height: 99.01%;
  //   letter-spacing: -0.02em;
  //   color: #090908;
  // }

  // h3 ~ h3 {
  //   margin-top: 6.4rem;
  //   @include media("<phone") {
  //     margin-top: 4rem;
  //   }
  // }

  figure {
    display: grid;
    grid-template-columns: repeat(5, 20.3rem);
    justify-content: space-between;
    margin-top: 1.7rem;

    @include media("<phone") {
      grid-template-columns: repeat(2, 15rem);
      gap: 1.5rem;
      justify-content: flex-start;
    }

    span {
      width: 20.3rem;
      height: 7.4rem;
      background-color: #ffffff;
      display: block;
      border-radius: 1.6rem;
      @include media("<phone") {
        width: 15rem;
        height: 5.9rem;
      }
    }
  }
}

.about__body__left {
  width: 69.3rem;
}
