// .__admin {
//   padding-top: 9.6rem;
//   // position: relative;
//   background-color: #f5f5f5;

//   .Searcher {
//     margin-top: 2.4rem;
//     @include media("<phone") {
//       margin-top: 0;
//     }
//   }
// }

// .Admin__cta {
//   @extend .Nav__cta;
//   width: unset;
//   padding-inline: 1.168rem * 1.5;
//   color: #090908;
// }

// .__blog {
//   height: 100vh;
//   position: fixed;
//   .Upload__form {
//     max-height: 200rem;
//     height: unset;

//     .Upload__form__wrapper {
//       gap: 4rem;
//     }

//     .Upload__submit {
//       transform: scale(0.315);
//       transform-origin: 0% 0%;
//     }

//     .Upload__form__right {
//       @extend .Upload__form__left;
//       width: 35% !important;
//       input,
//       textarea,
//       select {
//         width: 100% !important;
//       }

//       label {
//         all: unset;
//       }
//     }

//     &.open {
//       max-height: 8.2rem;
//       width: unset;
//     }

//     .Upload__form__left {
//       width: 75%;
//     }
//   }

//   .Upload__others {
//     padding-top: 2.7rem;
//   }

//   .Upload__others__wrapper {
//     height: 60.1rem;
//   }

//   .Upload__others__body {
//     height: 42rem;
//   }

//   .Upload__others__head,
//   .Upload__others__body a {
//     grid-template-columns: 70.5rem 25rem 15.1rem;

//     span {
//       width: 50.8rem;
//     }
//   }

//   .Upload__others__track {
//     top: 17.9rem;
//     bottom: 2.4rem;
//   }
// }

// .Upload__form {
//   font-family: "Nohemi";
//   font-weight: 500;
//   // font-size: 4.8rem;
//   // line-height: 99.01%;
//   // letter-spacing: -0.02em;
//   color: #090908;
//   background: #ffffff;
//   border-radius: 2.4rem;
//   margin: 1.7rem 12rem 0;
//   padding: 2.9rem 5.9rem 5.3rem;
//   transition: 0.5s ease;
//   height: 68.4rem;
//   overflow: hidden;
//   position: relative;
//   z-index: 1;
//   @include media("<phone") {
//     transform: scale(0.82);
//     padding: 0;
//   }

//   &.open {
//     height: 8.2rem;

//     h2 svg {
//       transform: rotate(180deg);
//     }
//   }

//   & > img {
//     filter: invert(0);
//   }

//   h2 {
//     display: flex;
//     width: 100%;
//     justify-content: space-between;
//     font-family: "Nohemi";
//     font-style: normal;
//     font-weight: 600;
//     font-size: 2.4rem;
//     line-height: 99.01%;
//     letter-spacing: -0.02em;
//     color: #090908;
//     cursor: pointer;

//     svg {
//       width: 2.4rem;
//       height: 2.4rem;
//       transition: 0.5s ease;
//     }
//   }
// }

// .__users {
//   .Upload__others__wrapper {
//     input {
//       width: 68rem;
//     }
//     svg {
//       right: 17.5rem;
//     }

//     button {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       align-self: flex-end;
//       width: 14.7rem;
//       height: 4.8rem;
//       background: #f8a519;
//       border-radius: 0.8rem;
//       font-family: "Euclid Circular A";
//       font-weight: 400;
//       font-size: 1.4rem;
//       line-height: 1.8rem;
//       letter-spacing: -0.02em;
//       color: #ffffff;
//     }
//   }
//   .Upload__others__head,
//   .Upload__others__body div {
//     grid-template-columns: 6.9rem 23.7rem 27.8rem 23.5rem 18.5rem 1fr;

//     i {
//       width: 2.6rem;
//       text-align: center;
//     }

//     em {
//       padding: 0.8rem;
//       border-radius: 0.4rem;
//     }

//     .green {
//       background-color: #e2f6f4;
//       color: #00a691;
//     }

//     .red {
//       background-color: #feecef;
//       color: #f4405f;
//     }
//   }
// }

// .Upload__form__wrapper {
//   display: flex;
//   gap: 10.6rem;
//   margin-top: 3.4rem;
// }

// .Upload__form__left {
//   position: relative;

//   label {
//     font-family: "Euclid Circular A";
//     font-style: normal;
//     font-weight: 400;
//     font-size: 1.4rem;
//     line-height: 1.8rem;
//     letter-spacing: -0.02em;
//     display: block;
//   }

//   input,
//   select,
//   textarea {
//     display: flex;
//     align-items: center;
//     padding: 1.6rem;
//     width: 48.8rem;
//     height: 4.8rem;
//     border: 0.1rem solid #efefef;
//     border-radius: 0.8rem;
//     font-family: "Euclid Circular A";
//     font-style: normal;
//     font-weight: 400;
//     font-size: 1.6rem;
//     line-height: 2rem;
//     letter-spacing: -0.02em;
//     color: #2e2e2e;
//     margin-top: 0.4rem;
//     margin-bottom: 2.4rem;
//     &:placeholder-shown {
//       color: #6d717c;
//     }
//   }

//   select {
//     padding: 1rem 4rem 1rem 1.6rem;
//     overflow: visible;
//     appearance: none;
//   }

//   textarea {
//     height: 24rem;
//     resize: none;
//   }

//   & > svg {
//     position: absolute;
//     width: 1.6rem;
//     height: 1.6rem;
//     transform: translate(-1.6rem, 2rem) rotate(180deg);
//     right: 0;
//   }
// }

// .Upload__form__right {
//   position: relative;

//   p {
//     font-family: "Euclid Circular A";
//     font-style: normal;
//     font-weight: 400;
//     font-size: 1.4rem;
//     line-height: 1.8rem;
//     letter-spacing: -0.02em;
//     display: block;
//   }

//   label[for*="file"] {
//     margin-top: 1.1rem;
//     width: 48.8rem;
//     height: 11.2rem;
//     border: 0.1rem dashed #efefef;
//     border-radius: 0.8rem;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-family: "Euclid Circular A";
//     font-style: normal;
//     font-weight: 400;
//     font-size: 1.6rem;
//     line-height: 2rem;
//     letter-spacing: -0.02em;
//     color: #6d717c;
//     margin-bottom: 3rem;
//     position: relative;
//     cursor: pointer;

//     &.active {
//       background-color: red;
//     }

//     div {
//       position: absolute;
//       width: 100%;
//       height: 100%;
//       border-radius: 0.8rem;
//       top: 0px;
//       right: 0px;
//       bottom: 0px;
//       left: 0px;
//       background: rgba(248, 165, 25, 0.11);
//       border: 0.1rem dashed #efefef;
//     }
//   }

//   label[for="star"] {
//     display: flex;
//     flex-direction: row-reverse;
//     align-items: center;
//     justify-content: flex-end;
//     font-family: "Euclid Circular A";
//     font-style: normal;
//     font-weight: 400;
//     font-size: 1.4rem;
//     line-height: 1.8rem;
//     letter-spacing: -0.02em;
//     gap: 1rem;
//     cursor: pointer;
//     input {
//       display: block;
//       accent-color: #f8a519;
//       cursor: pointer;
//     }
//   }

//   svg {
//     width: 4.75rem;
//     height: 4.75rem;
//     margin-right: 1.2rem;
//   }

//   i {
//     display: block;
//     color: #000000;
//     text-decoration: underline;
//     text-underline-offset: 0.25em;
//   }

//   input {
//     display: none;
//   }

//   aside {
//     margin-top: 1.1rem;
//     margin-bottom: 3rem;
//     width: 48.8rem;
//     height: 11.2rem;
//     background: #f5f5f5;
//     border-radius: 0.8rem;
//     position: relative;
//     padding: 1.7rem 1.9rem 1.2rem;
//     display: grid;
//     gap: 0.6rem;

//     div {
//       display: flex;
//       align-items: center;
//       gap: 1.4rem;
//     }

//     video {
//       width: 4.7rem;
//       height: 4.7rem;
//       background: #ffffff;
//       border-radius: 0.5rem;
//     }

//     article {
//       font-family: "Euclid Circular A";
//       font-style: normal;
//       font-weight: 400;
//       font-size: 1.4rem;
//       line-height: 1.8rem;
//       letter-spacing: -0.02em;
//     }

//     h5 {
//       color: #2e2e2e;
//     }

//     h6 {
//       color: #999999;
//       margin-top: 0.4rem;
//     }

//     svg {
//       width: 1.6rem;
//       height: 1.6rem;
//       filter: invert(1);
//       top: 1.7rem;
//       right: 1.9rem;
//       position: absolute;
//       margin: unset;
//       cursor: pointer;
//     }

//     em {
//       width: 40.5rem;
//       height: 0.6rem;
//       background: #ffffff;
//       border-radius: 2.3rem;
//       overflow: hidden;
//     }

//     span {
//       display: block;
//       width: 20%;
//       height: 100%;
//       background-color: #f8a519;
//     }

//     img,
//     video {
//       width: 4.6rem;
//       height: 4rem;
//       background: #f8a519;
//       border-radius: 0.8rem;
//       // margin-right: 1.2rem;
//     }
//   }
// }

// .Upload__form__mid {
//   position: relative;

//   label {
//     margin-top: 1.1rem;
//     width: 100%;
//     height: 11.2rem;
//     border: 0.1rem dashed #efefef;
//     border-radius: 0.8rem;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-family: "Euclid Circular A";
//     font-style: normal;
//     font-weight: 400;
//     font-size: 1.6rem;
//     line-height: 2rem;
//     letter-spacing: -0.02em;
//     color: #6d717c;
//     margin-bottom: 3rem;
//     position: relative;

//     &.active {
//       background-color: red;
//     }

//     div {
//       position: absolute;
//       width: 100%;
//       height: 100%;
//       border-radius: 0.8rem;
//       top: 0px;
//       right: 0px;
//       bottom: 0px;
//       left: 0px;
//       background: rgba(248, 165, 25, 0.11);
//       border: 0.1rem dashed #efefef;
//     }

//     svg {
//       width: 4.75rem;
//       height: 4.75rem;
//       margin-right: 1.2rem;
//     }

//     i {
//       display: block;
//       color: #000000;
//       text-decoration: underline;
//       text-underline-offset: 0.25em;
//       cursor: pointer;
//     }

//     & + input {
//       display: none;
//     }
//   }

//   aside {
//     margin-top: 1.1rem;
//     margin-bottom: 3rem;
//     width: 100%rem;
//     height: 11.2rem;
//     background: #f5f5f5;
//     border-radius: 0.8rem;
//     position: relative;
//     padding: 1.7rem 1.9rem 1.2rem;
//     display: grid;
//     gap: 0.6rem;

//     div {
//       display: flex;
//       align-items: center;
//       gap: 1.4rem;
//     }

//     img {
//       width: 4.7rem;
//       height: 4.7rem;
//       background: #ffffff;
//       border-radius: 0.5rem;
//     }

//     article {
//       font-family: "Euclid Circular A";
//       font-style: normal;
//       font-weight: 400;
//       font-size: 1.4rem;
//       line-height: 1.8rem;
//       letter-spacing: -0.02em;
//     }

//     h5 {
//       color: #2e2e2e;
//     }

//     h6 {
//       color: #999999;
//       margin-top: 0.4rem;
//     }

//     svg {
//       width: 1.6rem;
//       height: 1.6rem;
//       filter: invert(1);
//       top: 1.7rem;
//       right: 1.9rem;
//       position: absolute;
//       margin: unset;
//       cursor: pointer;
//     }

//     em {
//       width: 34.5rem;
//       height: 0.6rem;
//       background: #ffffff;
//       border-radius: 2.3rem;
//       overflow: hidden;
//     }

//     span {
//       display: block;
//       width: 20%;
//       height: 100%;
//       background-color: #f8a519;
//     }

//     & + input {
//       display: none;
//     }

//     p {
//       margin-top: unset;
//     }
//   }

//   input,
//   select,
//   textarea {
//     display: flex;
//     align-items: center;
//     padding: 1.6rem;
//     width: 100%;
//     height: 4.8rem;
//     border: 0.1rem solid #efefef;
//     border-radius: 0.8rem;
//     font-family: "Euclid Circular A";
//     font-style: normal;
//     font-weight: 400;
//     font-size: 1.6rem;
//     line-height: 2rem;
//     letter-spacing: -0.02em;
//     color: #2e2e2e;
//     margin-top: 0.4rem;
//     margin-bottom: 2.4rem;
//     &:placeholder-shown {
//       color: #6d717c;
//     }
//   }

//   select {
//     padding: 1rem 4rem 1rem 1.6rem;
//     overflow: visible;
//     appearance: none;
//   }

//   & > svg {
//     width: 1.6rem;
//     height: 1.6rem;
//     transform: rotate(180deg) translateY(-1.7rem);
//     right: 1.9rem;
//     position: absolute;
//     margin: unset;
//   }

//   .Upload__submit {
//     width: 100%;
//     height: 10rem;
//     padding: 0.09462rem 3.35rem;
//     border-radius: 2.4rem;
//     font-size: 3.7rem;
//     line-height: 4.7rem;

//     svg {
//       width: 4.8rem;
//       height: 4.8rem;
//     }
//   }
// }

// .Upload__submit {
//   width: 120rem;
//   height: 19.1rem;
//   margin: 0 auto;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 1.18462rem 6.7rem;
//   background: #f8a519;
//   border-radius: 4.5rem;
//   font-family: "Euclid Circular A";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 7.4rem;
//   line-height: 9.4rem;
//   letter-spacing: -0.02em;
//   color: #ffffff;
//   clip-path: inset(0rem 0% 0% 0%);
//   transition: 0.5s ease;

//   svg {
//     width: 9.6rem;
//     height: 9.6rem;
//   }
// }

// .open + .Upload__submit {
//   transform: translateY(-100%);
//   clip-path: inset(14rem 0% 0% 0%);
//   border-radius: 2.4rem;
//   margin-bottom: -19.1rem;
// }

// .Upload__others {
//   display: grid;

//   padding: 6rem 12rem;
//   @include media("<phone") {
//     transform: scale(0.82);
//     padding: 0;
//   }

//   h3 {
//     font-family: "Nohemi";
//     font-style: normal;
//     font-weight: 700;
//     font-size: 2rem;
//     line-height: 99.01%;
//     letter-spacing: -0.02em;
//     color: #090908;
//   }
// }

// .Upload__others__wrapper {
//   width: 120rem;
//   height: 71.1rem;
//   background: #ffffff;
//   border-radius: 2.4rem;
//   padding: 2.5rem 6.5rem 2.5rem 0rem;
//   margin-top: 1rem;
//   position: relative;

//   form {
//     display: flex;
//     gap: 2.8rem;
//     position: relative;
//     padding-left: 3.3rem;

//     svg {
//       position: absolute;
//       width: 1.6rem;
//       height: 1.6rem;
//       transform: translate(-1.6rem, 2rem) rotate(180deg);
//       right: 0;
//     }
//   }

//   label {
//     font-family: "Euclid Circular A";
//     font-style: normal;
//     font-weight: 400;
//     font-size: 1.4rem;
//     line-height: 1.8rem;
//     letter-spacing: -0.02em;
//     color: #2e2e2e;
//     display: block;
//   }

//   input {
//     display: flex;
//     align-items: center;
//     padding: 1.6rem;
//     width: 85.6rem;
//     height: 4.8rem;
//     border: 0.1rem solid #efefef;
//     border-radius: 0.8rem;
//     font-family: "Euclid Circular A";
//     font-style: normal;
//     font-weight: 400;
//     font-size: 1.4rem;
//     line-height: 1.8rem;
//     letter-spacing: -0.02em;
//     color: #2e2e2e;
//     margin-top: 0.4rem;
//     &:placeholder-shown {
//       color: #6d717c;
//     }
//   }

//   select {
//     display: flex;
//     align-items: center;
//     padding: 1.6rem;
//     width: 21.8rem;
//     height: 4.8rem;
//     border: 0.1rem solid #efefef;
//     border-radius: 0.8rem;
//     font-family: "Euclid Circular A";
//     font-style: normal;
//     font-weight: 400;
//     font-size: 1.4rem;
//     line-height: 1.8rem;
//     letter-spacing: -0.02em;
//     color: #2e2e2e;
//     margin-top: 0.4rem;
//     appearance: none;
//     &:placeholder-shown {
//       color: #6d717c;
//     }
//   }
// }

// .Upload__others__head {
//   display: grid;
//   grid-template-columns: 52.2rem calc(71.5rem - 52.2rem) calc(87rem - 71.5rem) calc(103rem - 87rem) 7.1rem;
//   font-family: "Euclid Circular A";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 1.4rem;
//   line-height: 1.8rem;
//   letter-spacing: -0.02em;
//   color: #999999;
//   margin: 3.7rem 0 1.4rem;
//   position: relative;
//   margin-left: 3.3rem;

//   &::before {
//     position: absolute;
//     content: "";
//     top: -1.2rem;
//     width: 117.5rem;
//     height: 0;
//     left: -2rem;
//     border: 0.1rem solid #f5f5f5;
//   }

//   &::after {
//     position: absolute;
//     content: "";
//     bottom: -1.4rem;
//     width: 117.5rem;
//     height: 0;
//     left: -2rem;
//     border: 0.1rem solid #f5f5f5;
//   }
// }

// .Upload__others__body {
//   overflow: scroll;
//   height: 54.7rem;

//   & > div,
//   & > a {
//     display: grid;
//     grid-template-columns: 52.2rem calc(71.5rem - 52.2rem) calc(87rem - 71.5rem) calc(103rem - 87rem) 7.1rem;
//     font-family: "Euclid Circular A";
//     font-style: normal;
//     font-weight: 400;
//     font-size: 1.4rem;
//     line-height: 1.8rem;
//     letter-spacing: -0.02em;
//     color: #999999;
//     margin: 2.3rem 0 0 1.9rem;
//     padding: 1.4rem 1.4rem;
//     position: relative;
//     border-radius: 1.7rem;
//     cursor: pointer;

//     &:hover {
//       background-color: #f5f5f5;
//     }
//   }

//   img {
//     width: 4.6rem;
//     height: 4rem;
//     background: #f8a519;
//     border-radius: 0.8rem;
//     margin-right: 1.2rem;
//   }

//   p {
//     display: flex;
//     align-items: center;
//     gap: 0.4rem;
//     font-family: "Euclid Circular A";
//     font-style: normal;
//     font-weight: 400;
//     font-size: 1.5rem;
//     line-height: 105.26%;
//     color: #000000;
//   }
// }

// .Upload__others__track {
//   position: absolute;
//   width: 0.8rem;
//   right: 2.3rem;
//   top: 13.9rem;
//   bottom: 6.4rem;
//   background: #f5f5f5;
//   border-radius: 3.6rem;
// }

// .Upload__others__bar {
//   position: absolute;
//   width: 0.8rem - 0.2rem;
//   left: 0.1rem;
//   top: 0.2rem;
//   height: 4.2rem;
//   background: #f8a519;
//   border-radius: 1.5rem;
// }
