.__article {
  padding-top: 9.6rem;
  background-color: #f5f5f5;

  .Vid__Comments {
    width: 100%;
    padding: 6rem 12rem 0rem;
    position: relative;
    @include media("<phone") {
      padding: 0 2.4rem 2.4rem;
    }

    & > div {
      gap: 1.6rem;
      justify-content: space-between;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding-bottom: 2.2rem;

      & > svg {
        width: 2.4rem;
        height: 2.4rem;
        position: fixed;
        z-index: 10;
        top: 4.1rem;
        right: 4.9rem;
      }
    }

    h4 {
      font-family: "Nohemi";
      font-style: normal;
      font-weight: 700;
      font-size: 2rem;
      line-height: 99.01%;
      letter-spacing: -0.02em;
      color: #191919;
    }

    form {
      margin-top: 2.2rem;
      position: relative;

      button {
        display: flex;
        gap: 0.7rem;
        height: 2rem;
        position: absolute;
        bottom: 1.1rem;
        right: 1rem;
        justify-content: center;
        align-items: center;
        width: 7.6rem;
        height: 3.3rem;
        background: #f8a519;
        border-radius: 0.8rem;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.14;
        font-feature-settings: "zero" on;
        color: #ffffff;

        svg {
          width: 1.9rem;
          height: 1.9rem;
        }
      }
    }

    textarea {
      resize: none;
      width: 100%;
      height: 11.5rem;
      background: transparent;
      border: 0.1rem solid #282828;
      border-radius: 1.2rem;
      color: #191919 !important;
      padding: 1.2rem;
    }
  }

  .Comment {
    position: relative;
    h5,
    h6,
    p {
      color: #191919;
    }
    &::after {
      width: 100%;
      left: 0;
      opacity: 0.1;
    }
  }
}

.article__head {
  margin: 2.9rem 12rem 0;
  width: 120rem;
  height: 51.8rem;
  border-radius: 2.4rem;
  overflow: hidden;
  position: relative;
  @include media("<phone") {
    margin: 0 1.65rem;
    width: 35.7rem;
    height: 29.4rem;
  }

  img {
    position: relative;
    z-index: 1;
    background-color: #f8a519;
  }

  &::after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -26.3%, rgba(0, 0, 0, 0.7) 100%);
  }

  div {
    z-index: 2;
    position: absolute;
    left: 6rem;
    bottom: 4.6rem;
    width: 38.5rem;
    @include media("<phone") {
      left: 2.9rem;
      bottom: 3.251rem;
      width: 25.3rem;
    }
  }

  h2 {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 105.26%;
    color: #ffffff;
    @include media("<phone") {
      font-size: 1.968rem;
    }
  }

  h6 {
    margin-bottom: 1.6rem;
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    align-items: center;
    @include media("<phone") {
      font-size: 1.312rem;
      margin-bottom: 1.049rem;
    }
    &::before {
      content: "";
      margin-right: 0.6rem;
      width: 1.2rem;
      height: 1.2rem;
      background-color: #f8a519;
      border-radius: 50%;
      gap: 0.349rem;
      @include media("<phone") {
        width: 0.787rem;
        height: 0.787rem;
      }
    }
  }
}

.article__neck {
  margin: 4rem 12rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 2.1rem 1rem 6.6rem;
  height: 6.5rem;
  background: #ffffff;
  border-radius: 6.6rem;
  width: max-content;
  position: relative;
  @include media("<phone") {
    margin: 2.4rem 2.3rem 2.2rem;
  }

  span {
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 1.25rem;
    left: 1rem;
    background-color: #f8a519;
    border-radius: 50%;
  }

  h3 {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #000000;
  }

  p {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #747474;
    margin-top: -0.3rem;
  }
}

.article__body {
  padding: 2.2rem 12rem 0rem;
  min-height: 50vh;
  white-space: break-spaces;
  white-space-collapse: break-spaces;

  @include media("<phone") {
    padding: 0.8rem 3rem 8.17rem 2.3rem;
  }

  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #000000;

  ul,
  ol {
    padding: 0 1rem;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 0.175em;
    color: #787878;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    font-weight: 800;
  }

  h2 {
    font-size: 2.4rem;
    font-family: "Nohemi";
    font-weight: 600;
  }

  h3 {
    font-size: 2.1rem;
    font-family: "Nohemi";
    font-weight: 500;
  }

  p {
    font-size: 1.8rem;
    line-height: 1.5;
    // line-break: anywhere;
    max-width: 100%;
    overflow: hidden;
  }

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  img {
    width: 80rem;
    margin: 10rem auto;
    height: auto;
    display: block;
    @include media("<phone") {
      margin: 5rem auto;
    }
  }

  iframe {
    width: 80rem;
    margin: 10rem auto;
    min-height: 44rem;
    display: block;
    @include media("<phone") {
      width: 100%;
      margin: 5rem auto;
      min-height: 20rem;
    }
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }

  * {
    margin: 0.75em 0;
  }
}

.article__footer {
  padding: 16.7rem 12rem 11.7rem;
  display: flex;
  justify-content: space-between;
  @include media("<phone") {
    flex-direction: column;
    gap: 2rem;
  }

  a {
    width: 44rem;
    @include media("<phone") {
      width: 100%;
    }
  }

  div:nth-of-type(2) h6 {
    text-align: right;
  }

  @include media("<phone") {
    padding: 3.4rem 2.3rem 11.7rem;
  }

  h6 {
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 99.01%;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 1.9rem;
  }
  ul {
    display: flex;
    gap: 2rem;
    @include media("<phone") {
      flex-direction: column;
    }
  }

  .BlogItem {
    flex: 1;
  }
}
