[data-template="contact"] {
  .FooterLite::after {
    background-color: #f5f5f5;
  }
}

.__contact {
  padding-top: 9.6rem;
  background-color: #f5f5f5;
  min-height: 100vh;
  position: relative;

  .Vid__added {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    gap: 1rem;
    position: fixed;
    z-index: 100;
    height: 4.4rem;
    left: 50%;
    transform: translateX(-50%);
    top: 10rem;
    background: #252527;
    border-radius: 1.6rem;
    @include media("<phone") {
      width: max-content;
      transform: translateX(-50%) scale(0.75);
    }

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }

    p {
      font-family: "Euclid Circular A";
      font-style: normal;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.3rem;
      letter-spacing: -0.02em;
      color: #ffffff;
    }
  }
}

.contact__body {
  padding: 3.7rem 12rem 11.6rem;
  display: flex;
  justify-content: space-between;
  @include media("<phone") {
    padding: 0.8rem 2.3rem 8.17rem 2.3rem;
    // width: 35.7rem;
    flex-direction: column;
  }
}

.contact__body__left {
  display: grid;
  align-content: flex-start;
  @include media("<phone") {
    margin-bottom: 4rem;
  }

  h2 {
    width: 36.6rem;
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 700;
    font-size: 4.40305rem;
    line-height: 99.01%;
    letter-spacing: -0.02em;
    color: #090908;
  }

  p {
    width: 29.4rem;
    margin-top: 1.8rem;
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 105.26%;
    color: #7b7b7b;
  }

  i {
    margin-top: 3.8rem;
    width: 29.4rem;
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 105.26%;
    color: #7b7b7b;
  }

  & > a {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 99.01%;
    letter-spacing: -0.02em;
    color: #090908;
    margin-top: 1.4rem;

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
  div {
    svg {
      filter: invert(1);
      width: 2.4rem;
      height: 2.4rem;
    }

    a {
      margin-top: 1.6rem;
      display: flex;
      gap: 1.2rem;
      align-items: center;
      font-family: "Euclid Circular A";
      font-style: normal;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 105.26%;
      color: #7b7b7b;
    }
  }
}

.contact__body__right {
  width: 74.6rem;
  background: #ffffff;
  border-radius: 1.6rem;
  padding: 4.5rem 5.3rem;
  display: grid;
  position: relative;
  align-content: flex-start;
  @include media("<phone") {
    width: 34.5rem;
    padding: 3rem 2.3rem 2.7rem;
  }

  h2 {
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 99.01%;
    letter-spacing: -0.02em;
    color: #090908;
    margin-bottom: 2.2rem;
  }

  label {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: -0.02em;
    color: #2e2e2e;
    margin-bottom: 0.4rem;
    position: relative;
  }

  & > input {
    display: flex;
    padding: 1.6rem;
    width: 100%;
    height: 4.8rem;
    border: 0.1rem solid #efefef;
    border-radius: 0.8rem;
    // font-family: "Euclid Circular A";
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    // font-size: 1.6rem;
    font-size: 1.6rem;
    // line-height: 2rem;
    line-height: 2rem;
    letter-spacing: -0.02em;
    color: #2e2e2e;
    margin-bottom: 2.2rem;
    &:placeholder-shown {
      color: #b9b9b9;
    }
    @include media("<phone") {
      width: 30rem;
    }
  }

  .svg {
    width: 50rem;
    height: 50rem;
    padding: 17rem;
    margin: 0 auto;
    @include media("<phone") {
      width: 25rem;
      height: 25rem;
      padding: 8rem;
      margin: 0 auto;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.8rem;
    background: #f8a519;
    border-radius: 0.8rem;
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: -0.02em;
    color: #ffffff;
    @include media("<phone") {
      width: 30rem;
    }

    svg {
      width: 2.263rem;
      height: 2.263rem;
    }
  }

  .Signup__contact__show {
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    right: 3.4rem;
    cursor: pointer;
    @include media("<phone") {
      right: 1.5rem;
    }
  }

  textarea {
    display: flex;
    align-items: center;
    padding: 1.6rem;
    width: 100%;
    height: 4.8rem;
    border: 0.1rem solid #efefef;
    border-radius: 0.8rem;
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: -0.02em;
    color: #2e2e2e;
    margin-top: 0.4rem;
    margin-bottom: 2.4rem;
    height: 26.4rem;
    resize: none;
    &:placeholder-shown {
      color: #6d717c;
    }
  }
}
