[data-template="support"] {
  .FooterLite::after {
    background-color: #f5f5f5;
  }
}

.__support {
  padding-top: 9.6rem;
  background-color: #f5f5f5;
  min-height: 100vh;
  position: relative;

  .Vid__added {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    gap: 1rem;
    position: fixed;
    z-index: 100;
    height: 4.4rem;
    left: 50%;
    transform: translateX(-50%);
    top: 10rem;
    background: #252527;
    border-radius: 1.6rem;
    @include media("<phone") {
      width: max-content;
      transform: translateX(-50%) scale(0.75);
    }

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }

    p {
      font-family: "Euclid Circular A";
      font-style: normal;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.3rem;
      letter-spacing: -0.02em;
      color: #ffffff;
    }
  }
}

.support__body {
  padding: 3.7rem 12rem 11.6rem;
  display: flex;
  justify-content: space-between;
  gap: 9rem;
  @include media("<phone") {
    padding: 0.8rem 2.3rem 8.17rem 2.3rem;
    // width: 35.7rem;
    flex-direction: column-reverse;
    gap: 3.5rem;
  }
}

.support__body__left {
  display: grid;
  align-content: flex-start;
  @include media("<phone") {
    margin-bottom: 4rem;
  }

  p {
    width: 58.6rem;
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 105.26%;
    color: #7b7b7b;
    min-height: 1.053em;
    @include media("<phone") {
      width: 34.9rem;
    }
  }

  strong {
    font-weight: 500;
    color: mix($color1: #000000, $color2: #7b7b7b, $weight: 50%);
  }

  a {
    text-decoration: underline;
    text-underline-offset: 0.2em;
  }

  i {
    margin-top: 3.8rem;
    width: 29.4rem;
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 105.26%;
    color: #7b7b7b;
  }

  & > a {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 99.01%;
    letter-spacing: -0.02em;
    color: #090908;
    margin-top: 1.4rem;

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
  div {
    svg {
      filter: invert(1);
      width: 2.4rem;
      height: 2.4rem;
    }

    a {
      margin-top: 1.6rem;
      display: flex;
      gap: 1.2rem;
      align-items: center;
      font-family: "Euclid Circular A";
      font-style: normal;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 105.26%;
      color: #7b7b7b;
    }
  }
}

.support__body__full {
  display: grid;
  align-content: flex-start;
  @include media("<phone") {
    margin-bottom: 4rem;
  }

  p {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 125.26%;
    color: #000;
    min-height: 1.053em;
    @include media("<phone") {
    }

    strong {
      margin-left: -4rem;
      margin-right: 0.1rem;
      font-weight: 500;
      width: 4rem;
      display: inline-block;
    }
  }

  strong {
    font-weight: 500;
    color: mix($color1: #000000, $color2: #7b7b7b, $weight: 50%);
  }

  a {
    text-decoration: underline;
    text-underline-offset: 0.2em;
  }

  h4 ~ p,
  i {
    margin-block: 1.6rem;
    margin-left: 6em;
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 125.26%;
    color: #090908;
    @include media("<phone") {
      margin-left: 3em;
    }
  }

  h4 {
    font-size: 2.1rem;
    font-family: "Nohemi";
    font-weight: 500;
    margin-block: 1.6rem;
  }

  & > a {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 99.01%;
    letter-spacing: -0.02em;
    color: #090908;
    margin-top: 1.4rem;

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
  div {
    svg {
      filter: invert(1);
      width: 2.4rem;
      height: 2.4rem;
    }

    a {
      margin-top: 1.6rem;
      display: flex;
      gap: 1.2rem;
      align-items: center;
      font-family: "Euclid Circular A";
      font-style: normal;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 125.26%;
      color: #7b7b7b;
    }
  }
}

.support__body__right {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  @include media("<phone") {
  }

  li {
    width: 48.8rem;
    min-height: 6.1rem;
    background: #ffffff;
    border-radius: 1.6rem;
    display: block;
    overflow: hidden;
    position: relative;
    @include media("<phone") {
      width: 34.6rem;
      // height: 9.1rem;
      height: unset;
    }

    &.open {
      min-height: 21.5rem;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0;
        left: 50%;
        transform: translateX(-50%);
        top: 5.3rem;
        border: 0.1rem solid #f5f5f5;
      }
      p,
      aside {
        display: block;
        opacity: 1;
      }

      button {
        display: flex;
      }
      @include media("<phone") {
        // height: 47.5rem;
        height: unset;

        h3 {
          height: unset;
        }
      }

      svg {
        transform: rotate(180deg);
      }
    }
  }

  figure {
    width: 28.5rem;
    height: 36.7rem;
    background-color: #ffffff;
    border-radius: 1.6rem;
    overflow: hidden;
  }

  h3 {
    position: static;
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 105.26%;
    color: #000000;
    display: flex;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    padding: 2.1rem 2.5rem 1.6rem;
    height: 6.2rem;
    @include media("<phone") {
      // height: 9.2rem;
      height: 5.4rem;
      font-size: 1.6rem;
      padding-bottom: 3rem;
    }
  }

  p {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    color: #494949;
    margin: 0 2.5rem;
    max-width: 107.7rem;
    white-space: break-spaces;
    display: none;
    opacity: 1;
    font-size: 1.4rem;
    line-height: 135.94%;
    margin-bottom: 1.9rem;
    @include media("<phone") {
      font-size: 1.6rem;
    }

    a {
      text-decoration: underline;
      text-underline-offset: 0.25em;
    }
  }

  aside {
    display: none;
    padding: 1.4rem 2.5rem;
    margin-top: 0.3rem;
    width: 100%;
    border-top: 0.1rem solid #f5f5f5;
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: -0.02em;
    color: #2e2e2e;

    div {
      display: flex;
      gap: 1rem;
      margin-top: 0.8rem;
      width: 100%;
      flex-wrap: wrap;
    }

    span {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 1.6rem;
      border: 0.1rem solid #efefef;
      border-radius: 7.7rem;
      width: max-content;
      line-height: 0.8;
      height: 4rem;
      letter-spacing: -0.02em;
      color: #969696;
      cursor: pointer;
      background-color: transparent;
      transition: background-color 0.2s ease;
      &.active {
        color: #ffffff;
        background-color: #f8a519;
      }
    }

    input {
      display: none;
      padding: 1.6rem;
      width: 100%;
      height: 4.8rem;
      border: 0.1rem solid #efefef;
      border-radius: 0.8rem;
      // font-family: "Euclid Circular A";
      font-family: sans-serif;
      font-style: normal;
      font-weight: 400;
      // font-size: 1.6rem;
      font-size: 1.6rem;
      // line-height: 2rem;
      line-height: 2rem;
      letter-spacing: -0.02em;
      color: #2e2e2e;
      margin-top: 2.4rem;
      &:placeholder-shown {
        color: #b9b9b9;
      }
      &.active {
        display: flex;
      }
      @include media("<phone") {
        width: 30rem;
      }
    }
  }

  button {
    display: none;
    margin: 1rem 2.5rem 2.3rem;
    justify-content: center;
    align-items: center;
    height: 4.6rem;
    background: #f8a519;
    border-radius: 0.8rem;
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 0.88;
    leading-trim: both;
    text-edge: cap;
    letter-spacing: -0.02em;
    color: #ffffff;
    width: 43.7rem;
    @include media("<phone") {
      width: 30rem;
    }
  }

  svg {
    width: 2rem;
    height: 2rem;
    transition: 0.5s ease;
  }
}
