.__films {
  padding-top: 9.6rem;
  background-color: #f5f5f5;
  @include media("<phone") {
    padding-top: 4.4rem;
  }
}

.films__body {
  padding: 3.7rem 12rem 11.6rem;
  @include media("<phone") {
    padding: 0.8rem 3rem 8.17rem 2.3rem;
  }

  div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 3.1rem 2.7rem;
    gap: 5.1rem;
    width: 120rem;
    background: #ffffff;
    border-radius: 2.4rem;
    margin-top: 3.1rem;
    @include media("<phone") {
      flex-direction: column;
      width: 100%;
    }

    p {
      font-family: "Euclid Circular A";
      white-space: pre-line;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 135.94%;
      leading-trim: both;
      text-edge: cap;
      letter-spacing: -0.02em;
      color: #787878;
      margin: 1.4rem 0 0;
      max-width: 92.5rem;
      @include media("<phone") {
        margin: 1.6rem 0;
        font-size: 1.4rem;
      }
    }
  }

  .ctas {
    width: unset;
    gap: 0rem;
    padding: 0;
    margin: 0;

    a {
      text-decoration: none !important;
      @extend %watch;
      padding: 1rem;
      width: max-content;
      margin-top: 2rem;
      transform: scale(calc(1 / 1.2));
      transform-origin: 0% 0%;
      @include media("<phone") {
        transform: unset;
      }
    }
  }

  button {
    padding: 1rem;
    width: max-content;
    margin-top: 2rem;
    transform: scale(calc(1 / 1.2));
    transform-origin: 0% 0%;
    @include media("<phone") {
      transform: unset;
    }
  }

  img {
    width: 15.269rem;
    height: 22.9rem;
    background-color: #f8a519;
    border-radius: 1.6rem;
    overflow: hidden;
    @include media("<phone") {
      // display: none;
      margin-bottom: -2.4rem;
      width: 100%;
      height: auto;
      background-color: transparent;
    }
  }

  h4 {
    display: flex;
    gap: 1.5rem;
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 135.94%;
    leading-trim: both;
    text-edge: cap;
    letter-spacing: -0.02em;
    color: #090908;
    align-items: center;
    margin-top: 0;
    @include media("<phone") {
      margin-top: 3rem;
      font-size: 1.6rem;
      gap: 0.8rem;
    }

    & + h4 {
      margin-top: 6.9rem;
    }

    span {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      width: 13.1rem;
      height: 3.3rem;
      background: #f8a519;
      border-radius: 1rem;
      color: #ffffff;
      @include media("<phone") {
        border-radius: 2.7rem;
        font-size: 1.3rem;
        width: 10rem;
        height: 2.93rem;
      }
    }
  }

  a {
    text-decoration: underline;
    text-underline-offset: 0.25em;
  }

  h3 {
    margin: 1rem 0 0;
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 99.01%;
    letter-spacing: -0.02em;
    color: #090908;
    @include media("<phone") {
      margin-top: 0;
    }
  }

  h2 {
    margin: 3.7rem 0 1.4rem;
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 99.01%;
    letter-spacing: -0.02em;
    color: #090908;
    max-width: 111rem;
  }

  h3 ~ h3 {
    margin-top: 6.4rem;
    @include media("<phone") {
      margin-top: 4rem;
    }
  }

  figure {
    display: grid;
    grid-template-columns: repeat(5, 20.3rem);
    justify-content: space-between;
    margin-top: 1.7rem;
    @include media("<phone") {
      grid-template-columns: repeat(2, 15rem);
      gap: 1.5rem;
      justify-content: flex-start;
    }

    span {
      width: 20.3rem;
      height: 7.4rem;
      background-color: #ffffff;
      display: block;
      border-radius: 1.6rem;
      @include media("<phone") {
        width: 15rem;
        height: 5.9rem;
      }
    }
  }
}

.film__preview {
  position: fixed;
  z-index: 30;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000;
  display: grid;
  place-content: center;

  video {
    width: 100vw;
    height: auto;
  }

  button {
    @extend %watch;
    position: absolute;
    top: 4rem;
    right: 4rem;
    z-index: 10;
  }
}
