.iiym__header {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .Nav__logo {
    width: 10.882rem * 2.35;
    height: 3.7rem * 2.35;
    position: relative;
    path {
      // filter: invert(1);
      @include media("<phone") {
        filter: unset !important;
      }
    }
    @include media("<phone") {
      width: 10.882rem * 1.5;
      height: 3.7rem * 1.5;
    }
  }

  .title {
    // width: 51.7rem;
    font-family: "Nohemi";
    font-weight: 500;
    font-size: 4.8rem * 1.25;
    line-height: 99.01%;
    letter-spacing: -0.02em;
    // color: #090908;
    color: #f8a519;
    @include media("<phone") {
      width: unset;
      font-size: 2.4rem * 1.25;
      width: 30rem;
    }
  }
  .subheading {
    margin-top: 1rem;
    padding-inline: 12rem;
    font-family: "Nohemi";
    font-style: normal;
    font-size: 2rem;
    line-height: 99.01%;
    letter-spacing: -0.02em;
    color: #090908;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    @include media("<phone") {
      padding-inline: 3.5rem;
    }
  }
  p {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.25;
    letter-spacing: -0.02em;
    // color: #ffffff;
    text-align: center;
    margin-bottom: 2rem;
    @include media("<phone") {
      font-size: 1.4rem;
    }
  }

  .btn-preorder {
    // position: absolute;
    width: fit-content;
    height: fit-content;
    text-transform: uppercase;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    color: #090908;
    font-size: 2.4rem;
    font-weight: 500;
    @extend %watch;

    @include media("<phone") {
      background: #f8a519;
      padding-left: 4rem;
      padding-right: 4rem;
      font-size: 2.5rem;
    }

    svg:hover rect {
      fill: #f8a519;
    }
  }
}

.__iiym {
  padding-top: 9.6rem !important;

  .Searcher {
    margin-top: 2.4rem;
    @include media("<phone") {
      margin-top: 0;
    }
  }
}
.synopsis__body {
  padding: 3.7rem 12rem 11.6rem;
  display: flex;
  gap: 9rem;
  @include media("<phone") {
    padding: 0.8rem 3rem 8.17rem 2.3rem;
    flex-direction: column-reverse;
    gap: 3.5rem;

    &:nth-of-type(3) {
      margin-top: -6rem;
    }
  }

  h3 {
    width: 51.7rem;
    font-family: "Nohemi";
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 99.01%;
    letter-spacing: -0.02em;
    color: #090908;
    @include media("<phone") {
      width: unset !important;
      font-size: 2.4rem;
      width: 24rem;
    }
  }

  p {
    font-family: "Euclid Circular A";
    white-space: pre-line;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 135.9%;
    leading-trim: both;
    text-edge: cap;
    letter-spacing: -0.02em;
    color: #787878;
    margin: 2.5rem 0;
    @include media("<phone") {
      margin: 1.6rem 0;
      font-size: 1.4rem;
      width: 33.7rem;
    }
  }

  img {
    // width: 44.4rem;
    // height: 49.13rem;
    height: 53rem;
    width: auto;
    // aspect-ratio: 9/7;
    // aspect-ratio: 853/1280;
    aspect-ratio: 1/1;
    border-radius: 1.7201rem;
    margin-top: 10rem;
    background: #f8a519;
    @include media("<phone") {
      margin: 3rem auto;
      width: 100%;
      height: auto;
      // height: 32.7rem;
    }
  }

  h4 {
    margin-top: 6.9rem;
    display: flex;
    gap: 1.5rem;
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 135.94%;
    leading-trim: both;
    text-edge: cap;
    letter-spacing: -0.02em;
    color: #090908;
    align-items: center;
    @include media("<phone") {
      margin-top: 3rem;
      font-size: 1.6rem;
      gap: 0.8rem;
    }

    span {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      width: 13.1rem;
      height: 3.3rem;
      background: #f8a519;
      border-radius: 1rem;
      color: #ffffff;
      @include media("<phone") {
        border-radius: 2.7rem;
        font-size: 1.3rem;
        width: 10rem;
        height: 2.93rem;
      }
    }
  }

  // h3 {
  //   margin: 2.7rem 0 1.4rem;
  //   font-family: "Nohemi";
  //   font-style: normal;
  //   font-weight: 500;
  //   font-size: 2.2rem;
  //   line-height: 99.01%;
  //   letter-spacing: -0.02em;
  //   color: #090908;
  // }

  // h3 ~ h3 {
  //   margin-top: 6.4rem;
  //   @include media("<phone") {
  //     margin-top: 4rem;
  //   }
  // }

  figure {
    display: grid;
    grid-template-columns: repeat(5, 20.3rem);
    justify-content: space-between;
    margin-top: 1.7rem;

    @include media("<phone") {
      grid-template-columns: repeat(2, 15rem);
      gap: 1.5rem;
      justify-content: flex-start;
    }

    span {
      width: 20.3rem;
      height: 7.4rem;
      background-color: #ffffff;
      display: block;
      border-radius: 1.6rem;
      @include media("<phone") {
        width: 15rem;
        height: 5.9rem;
      }
    }
  }
}

.iiym__body {
  padding: 2.2rem 12rem 0rem;
  display: flex;
  gap: 9rem;
  min-height: 50vh;
  white-space: break-spaces;
  white-space-collapse: break-spaces;

  @include media("<phone") {
    padding: 0.8rem 3rem 8.17rem 2.3rem;
    flex-direction: column-reverse;
    gap: 3.5rem;
  }

  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  // color: #000000;

  color: #323232;

  img {
    width: 44.4rem;
    // height: 49.13rem;
    // height: 53rem;
    // width: auto;
    height: auto;
    // aspect-ratio: 9/7;
    // aspect-ratio: 853/1280;
    // aspect-ratio: 1/1;
    border-radius: 1.7201rem;
    margin-top: 10rem;
    background: #f8a519;
    @include media("<phone") {
      margin: 3rem auto;
      width: 100%;
      height: auto;
      // height: 32.7rem;
    }
  }

  ul,
  ol {
    padding: 0 1rem;
    list-style-position: inside;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 0.175em;
    color: #787878;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    font-weight: 800;
  }

  h2 {
    font-size: 2.4rem;
    font-family: "Nohemi";
    font-weight: 600;
  }

  h3 {
    font-size: 2.1rem;
    font-family: "Nohemi";
    font-weight: 500;
  }

  p {
    font-size: 1.8rem;
    line-height: 1.5;
    // line-break: anywhere;
    max-width: 100%;
    overflow: hidden;
  }

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }

  ul {
    list-style: disc inside;

    &.iiym_highlights {
      padding: 0px;
      list-style: none;
    }
  }

  ol {
    list-style: decimal;
  }

  // img {
  //   width: 80rem;
  //   margin: 10rem auto;
  //   height: auto;
  //   display: block;
  //   @include media("<phone") {
  //     margin: 5rem auto;
  //   }
  // }

  iframe {
    width: 80rem;
    margin: 10rem auto;
    min-height: 44rem;
    display: block;
    @include media("<phone") {
      width: 100%;
      margin: 5rem auto;
      min-height: 20rem;
    }
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }

  * {
    margin: 0.75em 0;
  }
}

.__books {
  padding-top: 3.75rem;
  background-color: #f5f5f5;

  .covers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 3.7rem 12rem 7.6rem;

    @include media("<phone") {
      padding: 0.8rem 3rem 4.17rem 2.3rem;
      gap: 1.5rem;
    }

    &.covers-author {
      gap: 3rem;
      margin-top: 1rem;

      @include media("<phone") {
        gap: 2rem;
      }
    }

    img {
      // width: 44.4rem;
      // height: 49.13rem;
      height: 53rem;
      width: auto;
      // aspect-ratio: 9/7;
      // aspect-ratio: 853/1280;
      // aspect-ratio: 1/1;
      border-radius: 1.7201rem;
      // margin-top: 5rem;
      background: #f8a519;
      // max-width: 49rem;
      @include media("<phone") {
        // margin: 3rem auto;
        width: 100%;
        height: auto;
        // max-width: unset;
        // height: 32.7rem;
      }
    }

    .author {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      justify-content: center;

      img {
        height: 24rem;
        aspect-ratio: 1/1;
        border-radius: 9999px;

        @include media("<phone") {
          height: 16rem;
        }
      }
      h6 {
        margin-top: 1rem;
        font-family: "Nohemi";
        font-style: normal;
        font-size: 2.7rem;
        line-height: 99.01%;
        letter-spacing: -0.02em;
        color: #090908;
        font-weight: 600;
        text-transform: capitalize;
        text-align: center;
        @include media("<phone") {
          // padding-inline: 3.5rem;
        }
      }
      p {
        font-family: "Euclid Circular A";
        font-style: normal;
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 1.25;
        letter-spacing: -0.02em;
        // color: #ffffff;
        text-align: center;
        margin-bottom: 2rem;
        @include media("<phone") {
          font-size: 1.8rem;
        }
      }
    }
  }

  .share {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 3.7rem 12rem 7.6rem;

    @include media("<phone") {
      padding: 0.8rem 3rem 4.17rem 2.3rem;
      gap: 1.5rem;
    }

    h6 {
      max-width: 60rem;
      font-family: "Nohemi";
      font-style: normal;
      font-size: 2.7rem;
      line-height: 99.01%;
      letter-spacing: -0.02em;
      color: #090908;
      font-weight: 500;
      text-align: center;
      @include media("<phone") {
        // padding-inline: 3.5rem;
        font-size: 2rem;
      }
    }

    .socials {
      display: flex;
      gap: 1.6rem;

      svg {
        width: 3.6rem;
        height: 3.6rem;
      }
    }
  }
}

.books__body {
  display: grid;
  gap: 6.6rem;
  padding: 3rem 12rem 0;
  @include media("<phone") {
    padding: 0 2.2rem 0;
    gap: 4.2rem;
  }
}

.book {
  display: flex;
  height: min-content;
  @include media("<phone") {
    flex-direction: column !important;
  }

  &:nth-of-type(2n) {
    flex-direction: row-reverse;

    & > img {
      height: 60.4rem;
    }

    p {
      margin-top: 3.9rem;
      margin-bottom: 5.9rem;
    }

    a img {
      height: 3.4rem;
      @include media("<phone") {
        height: 2.5rem;
        gap: 1.3rem;
      }
    }
  }

  &:nth-of-type(3) {
    h2 {
      width: 42rem;
      @include media("<phone") {
        width: 20.8rem;
      }
    }
    & > img {
      height: 53.8rem;
    }

    p:nth-of-type(1) {
      margin-top: 3.9rem;
    }

    a img {
      height: 3.4rem;
      @include media("<phone") {
        height: 2.5rem;
        gap: 1.3rem;
      }
    }
  }

  & > img {
    width: 50.8rem;
    border-radius: 2.4rem;
    height: 53.8rem;
    @include media("<phone") {
      width: 34.5rem;
      height: 22.3rem !important;
      border-radius: 2.2rem;
    }
  }

  h2 {
    width: 55.2rem;
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 99.01%;
    letter-spacing: -0.02em;
    color: #090908;
    @include media("<phone") {
      width: 23.9rem;
      font-size: 2.6rem;
    }
  }

  h6 {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    leading-trim: both;
    text-edge: cap;
    letter-spacing: -0.02em;
    color: #363636;
    margin-top: 1.4rem;
    @include media("<phone") {
      margin-top: 1.4rem;
      font-size: 1.4rem;
    }

    i {
      color: #787878;
    }
  }

  ul {
    margin-top: 3.3rem;
    @include media("<phone") {
      margin-top: 2rem;
    }
  }

  li,
  p {
    width: 55.2rem;
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    leading-trim: both;
    text-edge: cap;
    letter-spacing: -0.02em;
    color: #787878;
    list-style: disc;
    margin-left: 2rem;
    @include media("<phone") {
      width: 27.9rem;
      font-size: 1.4rem;
      line-height: 1.36;
    }
  }

  p {
    margin-top: 1.7rem;
    margin-left: unset;
  }

  button {
    margin-top: 3.9rem;
    display: flex;
    background-color: transparent;
    align-items: center;
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    leading-trim: both;
    text-edge: cap;
    letter-spacing: -0.02em;
    color: #000000;
    gap: 1.9rem;
    padding: unset;
    @include media("<phone") {
      margin-top: 2.8rem;
      font-size: 1.4rem;
      gap: 1.45rem;
      line-height: unset;
    }

    img {
      height: 5.496rem;
      width: auto;
      @include media("<phone") {
        height: 3.967rem;
      }
    }
  }
}

.iiym__left {
  background-color: #ffffff;
  padding: 6.1rem 7.9rem 4.7rem 6.1rem;
  border-radius: 2.4rem;
  @include media("<phone") {
    padding: 3.7rem 2.5rem 3.4rem 3.1rem;
    width: 34.5rem;
  }
}

.iiym__footer {
  padding: 16.5rem 12rem 17.1rem;
  display: flex;
  gap: 14.1rem;
  padding-bottom: unset !important;
  @include media("<phone") {
    padding: 5.5rem 2.2rem 5.3rem;
    flex-direction: column;
    gap: 3.4rem;
  }

  h3 {
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 500;
    font-size: 2.81145rem;
    line-height: 99.01%;
    letter-spacing: -0.02em;
    color: #090908;
    i {
      color: #c4c4c4;
    }
  }

  p {
    margin-top: 2.7rem;
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 135.94%;
    leading-trim: both;
    text-edge: cap;
    letter-spacing: -0.02em;
    color: #787878;
    @include media("<phone") {
      font-size: 1.4rem;
      margin-top: 1.5rem !important;
    }
  }

  p:nth-of-type(2) {
    margin-top: 2rem;
  }

  img {
    width: 57.1rem;
    height: 39.9rem;
    border-radius: 1.6rem;
    @include media("<phone") {
      width: 34.5rem;
      height: 32.2rem;
    }
  }
}
