[data-template="password"] {
  .FooterLite::after {
    background-color: #f5f5f5;
  }
}

.__password {
  padding-top: 9.6rem;
  background-color: #f5f5f5;
  min-height: 100vh;
  position: relative;

  .Vid__added {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    gap: 1rem;
    position: fixed;
    z-index: 100;
    height: 4.4rem;
    left: 50%;
    transform: translateX(-50%);
    top: 10rem;
    background: #252527;
    border-radius: 1.6rem;
    @include media("<phone") {
      width: max-content;
      transform: translateX(-50%) scale(0.75);
    }

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }

    p {
      font-family: "Euclid Circular A";
      font-style: normal;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.3rem;
      letter-spacing: -0.02em;
      color: #ffffff;
    }
  }
}

.password__body {
  padding: 3.7rem 12rem 11.6rem;
  display: flex;
  gap: 6rem;
  @include media("<phone") {
    padding: 0.8rem 2.3rem 8.17rem 2.3rem;
    // width: 35.7rem;
    flex-direction: column;
  }
}

.password__body__left {
  display: grid;
  gap: 2rem;
  align-content: flex-start;
  @include media("<phone") {
    display: none;
  }

  a {
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.29;
    display: flex;
    align-items: center;
    font-feature-settings: "zero" on;
    color: #c4c4c4;
    letter-spacing: 0.02em;
    &:hover {
      color: mix($color1: #000000, $color2: #c4c4c4, $weight: 50%);
    }

    h3 {
      color: #000000;
      position: relative;
      &::after {
        content: "";
        background-color: #f8a519;
        width: 0.4rem;
        height: 2.1rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -0.9rem;
      }
    }
  }
}

.password__body__mid {
  width: 35.7rem;
  display: grid;
  position: relative;
  align-content: flex-start;
  gap: 1.1rem;
  margin-right: -4.1rem;

  & > div {
    background-color: #ffffff;
    border-radius: 1.6rem;
    padding: 2rem 2.1rem;
    width: 35.7rem;
    @include media("<phone") {
      width: 34.5rem;
    }
  }

  h2 {
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 99.01%;
    letter-spacing: -0.02em;
    color: #090908;
    margin-bottom: 1.2rem;
  }

  p {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: -0.02em;
    color: #000000;
    display: flex;
    gap: 0.9rem;
    background-color: transparent;
    align-items: center;
    margin-bottom: 2.2rem;
  }

  h4,
  button {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: -0.02em;
    color: #000000;
    display: flex;
    gap: 0.9rem;
    background-color: transparent;
    align-items: center;

    svg {
      width: auto;
      height: 2rem;
      border-radius: 0.2rem;
    }
  }

  button {
    color: #b00000;
    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
  i {
    padding: 1rem;
    display: block;
    margin: 0 auto;
  }

  label {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: -0.02em;
    color: #2e2e2e;
    margin-bottom: 0.4rem;
    position: relative;
  }
}

.password__body__right {
  width: 56.8rem;
  background: #ffffff;
  border-radius: 1.6rem;
  padding: 3.5rem 3rem;
  display: grid;
  position: relative;
  align-content: flex-start;
  @include media("<phone") {
    width: 34.5rem;
    padding: 3rem 2.3rem 2.7rem;
  }

  h2 {
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 99.01%;
    letter-spacing: -0.02em;
    color: #090908;
    margin-bottom: 2.2rem;
  }

  label {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: -0.02em;
    color: #2e2e2e;
    margin-bottom: 0.4rem;
    position: relative;
  }

  & > input {
    display: flex;
    padding: 1.6rem;
    width: 49.8rem;
    height: 4.8rem;
    border: 0.1rem solid #efefef;
    border-radius: 0.8rem;
    // font-family: "Euclid Circular A";
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    // font-size: 1.6rem;
    font-size: 1.6rem;
    // line-height: 2rem;
    line-height: 2rem;
    letter-spacing: -0.02em;
    color: #2e2e2e;
    margin-bottom: 1.5rem;
    &:placeholder-shown {
      color: #b9b9b9;
    }
    &:nth-of-type(1) {
      &:placeholder-shown {
        font-size: 3rem;
      }
    }
    @include media("<phone") {
      width: 30rem;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49.8rem;
    height: 4.8rem;
    background: #f8a519;
    border-radius: 0.8rem;
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: -0.02em;
    color: #ffffff;
    @include media("<phone") {
      width: 30rem;
    }
  }

  .Signup__password__show {
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    right: 3.4rem;
    cursor: pointer;
    @include media("<phone") {
      right: 1.5rem;
    }
  }
}

.password__body__right2 {
  width: 56.8rem;
  height: 40.7rem;
  background: #ffffff;
  border-radius: 1.6rem;
  padding: 3.5rem 3rem;
  display: grid;
  position: relative;
  align-content: stretch;
  @include media("<phone") {
    width: 34.5rem;
    padding: 3rem 2.3rem 2.7rem;
  }

  h2 {
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 99.01%;
    letter-spacing: -0.02em;
    color: #090908;
    margin-bottom: 2.2rem;
  }

  label {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: -0.02em;
    color: #2e2e2e;
    margin-bottom: 0.4rem;
  }

  & > input {
    display: flex;
    padding: 1.6rem;
    width: 49.8rem;
    height: 4.8rem;
    border: 0.1rem solid #efefef;
    border-radius: 0.8rem;
    // font-family: "Euclid Circular A";
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    // font-size: 1.6rem;
    font-size: 16px;
    // line-height: 2rem;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #2e2e2e;
    margin-bottom: 1.5rem;
    &:placeholder-shown {
      color: #b9b9b9;
    }
    @include media("<phone") {
      width: 30rem;
    }
  }

  .StripeElement {
    background-color: transparent;
    padding: 1.6rem;
    width: 49.8rem;
    height: 4.8rem;
    max-width: unset;
    border: 0.1rem solid #efefef;
    border-radius: 0.8rem;
    margin-bottom: 1.5rem;
    @include media("<phone") {
      width: 30rem;
    }
  }
  // .StripeElement--empty {
  //   border-bottom-color: #b22222;
  // }
  // .StripeElement--focus {
  //   border-bottom-color: #008000;
  // }

  /* Set styling when form field data is invalid */
  .StripeElement--invalid {
    background-color: #ffd90080;
    border-color: #b22222;
  }

  /* Set styling when form field data is completed and valid */
  .StripeElement--complete {
    background-color: #00800015;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49.8rem;
    height: 4.8rem;
    background: #f8a519;
    border-radius: 0.8rem;
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: -0.02em;
    color: #ffffff;
    @include media("<phone") {
      width: 30rem;
    }
  }
}

.password__body__right3 {
  width: 34.5rem;
  background: #ffffff;
  border-radius: 1.6rem;
  padding: 3.5rem 3rem;
  display: grid;
  position: relative;
  align-content: stretch;
  align-self: baseline;
  @include media("<phone") {
    width: 34.5rem;
    padding: 3rem 2.3rem 2.7rem;
  }

  h2 {
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 99.01%;
    letter-spacing: -0.02em;
    color: #090908;
    margin-bottom: 2.2rem;
  }

  p {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: -0.02em;
    color: #2e2e2e;
    margin-bottom: 2.4rem;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.8rem;
    background: #f4405f;
    border-radius: 0.8rem;
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: -0.02em;
    color: #ffffff;
    @include media("<phone") {
      width: 30rem;
    }
  }
}
