.__studio {
  padding-top: 9.6rem;
  background-color: #f5f5f5;
}

.studio__body {
  padding: 3.7rem 12rem 0rem;
  @include media("<phone") {
    padding: 0.8rem 3rem 0rem 2.3rem;
  }

  h1 {
    width: 60.6rem;
    font-family: "Nohemi";
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 99.01%;
    letter-spacing: -0.02em;
    color: #090908;
    @include media("<phone") {
      width: unset;
      font-size: 2.4rem;
      width: 27.8rem;
    }
  }

  p {
    font-family: "Euclid Circular A";
    white-space: pre-line;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 135.94%;
    leading-trim: both;
    text-edge: cap;
    letter-spacing: -0.02em;
    color: #787878;
    margin: 2.5rem 0;
    max-width: 65.9rem;
    @include media("<phone") {
      margin: 1.6rem 0;
      font-size: 1.4rem;
    }
  }

  .block-img {
    margin: 5.5rem auto;
    display: block;
    max-width: unset;
    @include media("<phone") {
      margin: 3rem auto;
    }
  }

  h2 {
    margin-top: 6.9rem;
    display: flex;
    gap: 1.5rem;
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 135.94%;
    leading-trim: both;
    text-edge: cap;
    letter-spacing: -0.02em;
    color: #090908;
    align-items: center;
    @include media("<phone") {
      margin-top: 3rem;
      font-size: 1.6rem;
      gap: 0.8rem;
    }

    span {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      width: 13.1rem;
      height: 3.3rem;
      background: #f8a519;
      border-radius: 1rem;
      color: #ffffff;
      @include media("<phone") {
        border-radius: 2.7rem;
        font-size: 1.3rem;
        width: 10rem;
        height: 2.93rem;
      }
    }
  }

  h3 {
    margin: 2.7rem 0 1.4rem;
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 99.01%;
    letter-spacing: -0.02em;
    color: #090908;
  }

  h3 ~ h3 {
    margin-top: 6.4rem;
    @include media("<phone") {
      margin-top: 4rem;
    }
  }

  article {
    display: grid;
    grid-template-columns: repeat(3, 33.3rem);
    margin-top: 3.7rem;
    gap: 5rem 8.65rem;
    @include media("<phone") {
      grid-template-columns: 1fr;
      gap: 1.2rem;
      justify-content: flex-start;
      margin-top: 3.1rem;
    }

    h4 {
      font-family: "Nohemi";
      font-style: normal;
      font-weight: 500;
      font-size: 2.2rem;
      line-height: 99.01%;
      letter-spacing: -0.02em;
      color: #090908;
      @include media("<phone") {
        font-size: 1.6rem;
        line-height: 99.01%;
        letter-spacing: -0.02em;
      }
    }

    a {
      color: #090908;
    }

    p {
      margin-top: 1.4rem;
      @include media("<phone") {
        margin-top: 1.143rem;
      }
    }

    span {
      display: block;
      border-radius: 1.6rem;
      @include media("<phone") {
      }
    }
  }

  h5 {
    margin: 3.7rem 0 1.4rem;
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 99.01%;
    letter-spacing: -0.02em;
    color: #090908;
    margin-bottom: 4rem;
    @include media("<phone") {
      margin-bottom: 1.5rem;
    }
  }

  figure {
    display: grid;
    justify-content: space-between;
    margin-top: 1.7rem;
    row-gap: 4rem;
    @include media("<phone") {
      gap: 2.5rem;
    }

    span {
      display: flex;
      align-items: center;
    }

    svg {
      width: 2.4rem;
      height: 2.4rem;
      @include media("<phone") {
        opacity: 0.65;
        width: 2rem;
        height: 2rem;
      }
    }

    h6 {
      font-family: "Nohemi";
      font-style: normal;
      font-weight: 500;
      font-size: 2.2rem;
      line-height: 99.01%;
      letter-spacing: -0.02em;
      color: #787878;
      font-style: italic;
      padding-left: 0.5em;

      &:hover {
        color: #090908;
      }
      @include media("<phone") {
        font-size: 1.6rem;
        line-height: 99.01%;
        letter-spacing: -0.02em;
      }
    }
  }
}
