.__tag {
  // position: relative;
  background-color: #000000;

  h2 {
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 700;
    font-size: 5.3rem;
    line-height: 99.01%;
    letter-spacing: -0.02em;
    color: #ffffff;
    padding: 20.7rem 9rem 0rem;
    @include media("<phone") {
      padding: 10rem 2.4rem 0;
      font-size: 2rem;
    }
  }

  .Sections {
    padding-top: unset;
    min-height: calc(100svh - 30rem);
  }

  .Sections__wrapper {
    background-color: #000000;
    padding: 9rem;
    @include media("<phone") {
      padding: 2.2rem;
      min-height: 100vh;
    }
  }

  .VideoSection__videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include media("<phone") {
      display: flex;
      flex-direction: column;
      background-color: #0c0c0f;
      gap: 9rem;
      padding-bottom: 16rem;

      .VideoItem {
        transform: scale(1.3);
        transform-origin: 0% 0%;
      }
    }
  }
}
