.Hero {
  position: relative;
  background-color: #000000;
}

.Hero__media__active2 {
  background-color: unset !important;
  --bg: unset !important;
  z-index: 10;
  opacity: 0;
  &::after {
    display: none;
  }
}

.Hero__media__active,
.Hero__media__active2 {
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  height: 100svh;
  position: fixed;
  top: 0;
  --bg: linear-gradient(180deg, rgba(0, 0, 0, 0) -26.3%, rgba(0, 0, 0, 0.7) 100%);
  // visibility: hidden;
  background-color: #000000;
  @include media("<phone") {
  }

  video {
    filter: brightness(0.85);
    object-fit: cover;
    background-color: #000000;
    @include media("<phone") {
      object-position: 20%;
    }
  }

  &:after {
    background: var(--bg);
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  h2 {
    position: absolute;
    width: 81.5rem;
    font-family: "Nohemi";
    font-style: normal;
    // font-weight: 900;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 99.01%;
    // letter-spacing: -0.02em;
    // color: #090908;
    color: #ffffff;
    bottom: 13.2rem;
    left: 12rem;
    z-index: 10;
    @include media("<phone") {
      font-size: 2.4rem;
      bottom: 23.6rem - 2rem;
      width: 34.4rem;
      left: 2.3rem;
    }
  }

  p {
    z-index: 10;
    position: absolute;
    width: 37.1rem;
    bottom: 15.1rem;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkitline-clamp: 3;
    display: -webkit-box;
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.25;
    letter-spacing: -0.02em;
    // color: #2e2e2e;
    color: #e2e2e2;
    left: 12rem;
    display: none;
    @include media("<phone") {
      display: none;
    }
  }

  a {
    @extend %watch;
    position: absolute;
    z-index: 10;
    bottom: 8.031rem;
    left: 12rem;
    width: 21.1rem;
    pointer-events: all;
    @include media("<phone") {
      left: 2.3rem;
      bottom: 16.8rem;
      width: 17.8rem;
    }
  }
}

.Hero__medias {
  display: flex;
  flex-direction: column;
  top: 100vh;
  transform: translateY(-8.031rem - 54.7rem);
  right: 12rem;
  gap: 1.5rem;
  position: fixed;
  z-index: 10;
  @include media("<phone") {
    display: grid;
    grid-template-columns: repeat(3, 14.698rem * 1.3);
    top: calc(100svh - 4.95rem - 9.5rem);
    transform: unset;
    gap: 0.8rem;
    overflow: scroll;
    right: unset;
    left: 0;
    width: 100vw;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  aside {
    display: none;
  }
}

.Hero__media {
  filter: brightness(1.15);
  width: 28.4rem;
  height: 17.3rem;
  background: #ffffff;
  border-radius: 1.6rem;
  overflow: hidden;
  cursor: pointer;
  @include media("<phone") {
    width: 14.698rem * 1.3;
    height: 8.899rem * 1.3;

    // &:nth-of-type(1) {
    //   grid-area: 1/2/2/3;
    // }

    // &:nth-of-type(2) {
    //   grid-area: 1/3/2/4;
    // }

    // &:nth-of-type(3) {
    //   grid-area: 1/4/2/5;
    // }
  }
}

.Hero__playhead {
  top: -0.5rem;
  right: -0.5rem;
  width: 29.4rem;
  height: 18.3rem;
  border-radius: 2.1rem;
  position: relative;
  overflow: hidden;
  border: 0.2rem solid #f8a519;
  transition: 0.35s ease-out;
  pointer-events: none;
  position: absolute;
  @include media("<phone") {
    display: none;
  }
}

.Hero__noise {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transform-origin: 0% 0%;
  mix-blend-mode: multiply;
  opacity: 0;
  @include media("<phone") {
    // height: calc(100svh - 24rem);
  }
}

/* Main Background Div */
.container-div {
  width: 100%;
  opacity: 0;
  width: 100%;
  height: 100vh;
  width: 100vw;
  overflow: clip;
  // clip-path: inset(0% 0% 0% 0%);
  position: fixed;
  // top: 12.9rem;
  top: 0rem;
  z-index: 1;
  @include media("<phone") {
  }
}
/* Jelly Blob Div */
.jelly-blob {
  position: fixed;
  top: -5rem;
  left: -5rem;
  right: 0;
  bottom: 0;
  width: 10rem;
  height: 10rem;
  mix-blend-mode: difference;
  background-color: #ffffff66;
  border-radius: 50%;
  transform-origin: 50% 50%;
  // transform: translate(-50%, -50%);
  will-change: width, height, transform, border;
  z-index: 1;
  @include media("<phone") {
    width: 5rem;
    height: 5rem;
  }
}
/* Text Inside Jelly Blob */
.inside-text {
  opacity: 1;
  color: #000000;
  align-items: center;
  justify-content: center;
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 10rem;
  text-align: center;
  vertical-align: middle;
  pointer-events: none;
  cursor: pointer;
  @include media("<phone") {
    font-size: 1.6rem;
    line-height: 5rem;
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    rotate: unset !important;
  }
}
