.__home {
  // position: relative;
  background-color: #000000;
}

// .withchude_live_background {
//   position: relative;
//   background: #000000 url('/images/banners/withchude_live_banner_general.png') center / cover no-repeat;
//   color: white !important;

//   h1, h2, h4, h5, h6 , .Updates__cta {
//     color: white !important;
//   }

//   &.Footer {
//     .Footer__top, .Footer__bottom {
//       // background: inherit;
//     }
//     h3 {
//       color: white !important;
//     }

//     .Footer__feature img {
//       filter: invert(1);
//     }
//   }

//   &::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
//     z-index: 1;
//   }

//   /* Ensure content is above the overlay */
//   * {
//     position: relative;
//     z-index: 2;
//   }
// }

// @import "./hero.scss";
@import "./hero-alt.scss";
@import "./categories.scss";
@import "./updates.scss";
@import "./watching.scss";
@import "./book-list.scss";
@import "./faq.scss";
@import "./testimonials.scss";
@import "./join.scss";
@import "./event.scss";
