.Newsletter__Popup {
  position: fixed;
  height: 100vh;
  left: 0%;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  display: grid;
  place-content: center;
  @include media("<phone") {
    place-content: center;
  }

  &__Wrapper {
    position: relative;

    & > button {
      width: 4.4rem;
      height: 4.4rem;
      position: absolute;
      top: 3.3rem;
      right: 3.2rem;
      padding: 1rem;
      border-radius: 6.2rem;
      z-index: 999;
      @include media("<phone") {
        z-index: 999;
      }

      svg {
        width: 2.4rem;
        height: 2.4rem;
        filter: invert(1);
      }
    }
  }

  .Join {
    margin-bottom: 0px !important;
    border-radius: 6rem;

    @include media("<phone") {
      border-radius: 2.4rem;
    }
  }
}

.Join {
  @extend .Categories;
  padding-top: unset;
  background-color: #f5f5f5;
  margin-bottom: 66.6rem;
  padding-bottom: 1.1rem;
  @include media("<phone") {
    margin-bottom: 40.7rem;
    padding-bottom: 0.85rem;
  }

  &.no-scroll {
    margin-bottom: 0px !important;
  }

  .Vid__added {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
    position: fixed;
    z-index: 100;
    height: 4.4rem;
    left: 50%;
    transform: translateX(-50%);
    top: 10rem;
    background: #252527;
    border-radius: 1.6rem;
    @include media("<phone") {
      width: max-content;
      transform: translateX(-50%) scale(0.75);
    }

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }

    p {
      font-family: "Euclid Circular A";
      font-style: normal;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.3rem;
      letter-spacing: -0.02em;
      color: #ffffff;
    }
  }
}

.Join__wrapper {
  width: 118.2rem;
  background: #000000;
  border-radius: 6rem;
  margin: 0 auto;
  padding: 9.4rem 22.25rem 13.8rem;
  position: relative;
  z-index: 30;
  transform: scale(1.02);
  transform-origin: 50% 0%;
  @include media("<phone") {
    width: 34.6rem;
    border-radius: 2.4rem;
    padding: 4.8rem 3.25rem 8rem;
  }
}

.JoinLite {
  margin-top: 3.7rem;
  position: relative;
  z-index: 1;
  margin-bottom: -3.3rem;
  margin-inline: auto;
  display: flex;
  width: 120rem;
  height: 19.1rem;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0 6.7rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 4.5rem;
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 400;
  font-size: 7.4rem;
  line-height: 9.4rem;
  letter-spacing: -0.02em;
  color: #090908;

  @include media("<phone") {
    width: 34rem;
    height: 10.1rem;
    font-size: 3.6rem;
    line-height: 4.6rem;
    letter-spacing: -0.02em;
    color: #090908;
    padding: 0 3.543rem;
    border-radius: 2.38rem;
    margin-top: 1.5rem;
    // margin-bottom: 0.6rem;
    margin-bottom: 0rem;
  }

  svg {
    width: 9.6rem;
    height: 9.6rem;
    @include media("<phone") {
      width: 4rem;
      height: 4rem;
    }
  }
}

.Join__intro {
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #ffffff;
  text-align: center;
  @include media("<phone") {
    font-size: 1.4rem;
  }
}

.Join__body {
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 1.1111111111;
  text-align: center;
  color: #ffffff;
  margin-top: 1.7rem;
  margin-inline: 1.4rem;
  @include media("<phone") {
    font-size: 2rem;
    line-height: 1.12;
    width: 25.3rem;
    margin-inline: auto;
  }
}

.Join__submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0.6rem 0.6rem 2rem;
  width: 52.7rem;
  height: 5.1rem;
  border: 0.1rem solid #efefef;
  border-radius: 4.8rem;
  margin: 2.6rem auto 0;
  background-color: transparent;
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #bababa;
  position: relative;

  input, select {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #ffffff;
    border: unset;
    width: 100%;
    @include media("<phone") {
      font-size: 1.4rem;
      border-bottom: 0.1rem solid #efefef;
      width: 100% !important;
    }
    &:nth-of-type(1) {
      width: 75%;
    }
    background-color: transparent;
    &:placeholder-shown {
      color: #bababa;
    }
  }

  select option {
    color: #090908;
  }

  
  @include media("<phone") {
    padding: 0;
    width: 28.1rem;
    height: 9rem;
    border-width: 0.073rem;
    margin-top: 2.5rem;
    font-size: 1.4rem;
    flex-wrap: wrap;
    border-radius: 1.2rem;
    gap: 1.6rem;
    border: unset;
  }

  button {
    position: absolute;
    width: 3.9rem;
    height: 3.9rem;
    right: 0.6rem;
    padding: unset;
    background-color: transparent;
    @extend %watch;

    @include media("<phone") {
      width: 100%;
      height: 4rem;
      right: 0rem;
      bottom: -5rem;
      background: #f8a519;
      color: #090908;
    }

    svg:hover rect {
      fill: #f8a519;
    }
  }
}
