.Testimonials {
  @extend .Categories;
  padding-top: unset;
  margin: 1rem -12rem -7.1rem;
  width: 100vw;
  @include media("<phone") {
    margin: 0 -2.3rem -3.3rem;
  }
}

.Testimonials__wrapper {
  background-color: #f5f5f5;
  padding: 33.4rem 14.9rem 20rem;
  position: relative;
  display: flex;
  gap: 8.7rem;
  justify-content: center;
  align-items: center;
  @include media("<phone") {
    padding: 26.7rem 5.55rem 6rem;
    gap: 0rem;
  }

  & > p {
    position: absolute;
    top: 27.1rem;
    left: 0;
    width: 100vw;
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.25;
    text-align: center;
    letter-spacing: -0.02em;
    color: #090908;
    z-index: 10;
    width: 100vw;
    max-width: unset !important;
    margin: unset !important;
    @include media("<phone") {
      width: fit-content !important;
      top: 17rem;
      background-color: #f5f5f5;
      margin-inline: auto !important;
      left: 0;
      right: 0;
      border-radius: 4.9rem;
      padding: 0.7rem 1.3rem;
      font-size: 1.4rem;
    }
  }

  ul {
    // width: 54.7rem;
    position: relative;
    top: -13.2rem;
    display: flex;
    gap: 30.6rem;
    justify-content: center;
    overflow: hidden;
    min-width: 83.3rem;
    height: 49.1rem;
    background: #ffffff;
    border-radius: 3.2rem;
    background-color: #ffffff;

    @include media("<phone") {
      min-width: 31.9rem;
      height: 37.9rem;
    }

    li {
      position: absolute;
      width: 54.7rem;
      padding-top: 13.2rem;
      &:before {
        content: "";
        top: 0rem;
        left: -14.3rem;
        position: absolute;
        width: 83.3rem;
        height: 49.1rem;
        border-radius: 3.2rem;
        // background-color: #ffffff;
      }
      @include media("<phone") {
        width: 31.9rem;
        height: 37.8rem;
        left: 0rem;
        top: -9rem;
        padding: 18.1rem 4.1rem 0;
        &:before {
          content: "";
          top: 9rem;
          left: 0rem;
          position: absolute;
          width: 31.9rem;
          height: 37.8rem;
          border-radius: 2.4rem;
        }
      }
    }

    h3 {
      font-family: "Nohemi";
      font-style: normal;
      font-weight: 600;
      font-size: 4rem;
      line-height: 105.26%;
      text-align: center;
      color: #000000;
      position: relative;
      z-index: 1;
      @include media("<phone") {
        font-size: 2.2rem;
        width: 23.7rem;
      }
    }

    p {
      font-family: "Euclid Circular A";
      font-style: normal;
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 1.25;
      text-align: center;
      color: #000000;
      margin-top: 2.6rem;
      position: relative;
      z-index: 1;
      @include media("<phone") {
        font-size: 1.6rem;
      }
    }
  }
}

.Testimonials__bg {
  position: absolute;
  width: 100vw;
  height: auto;
  top: 0;
  left: 0;
  pointer-events: none;
}

.Testimonials__control {
  width: 6.5rem;
  height: 6.5rem;
  position: relative;
  top: -15.5rem;
  cursor: pointer;
  @include media("<phone") {
    position: absolute;
    bottom: 11.4rem;
    top: unset;
    width: 5.7rem;
    height: 5.7rem;

    &.prev {
      left: 12.66rem;
    }

    &.next {
      right: 12.66rem;
    }
  }
}
