.Updates {
  @extend .Categories;
  // padding-top: unset;
  padding-top: 100vh;
  margin-bottom: -0.1rem;
}

.Updates__wrapper {
  @extend .Categories__wrapper;
  padding: 12.8rem 12rem 0.1rem;
  // margin-inline: -15.2rem;
  @include media("<phone") {
    padding: 9.4rem 2.2rem 6.1rem;
  }

  h2 {
    width: 48.4rem;
    @include media("<phone") {
      width: 23.8rem;
    }
  }

  a {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #090908;
    position: relative;
    bottom: 1.5rem + 3.9rem;
    justify-content: flex-end;
    text-underline-offset: 0.25em;
    display: flex;
  }

  & > a {
    text-decoration: underline;
    @include media("<phone") {
      position: absolute;
      bottom: 0.4rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  ul {
    display: grid;
    justify-content: flex-start;
    width: 100vw;
    overflow: scroll;
    height: max-content;
    padding: 0 12rem;
    margin-left: -12rem;
    // scroll-snap-type: x mandatory;
    gap: 1.6rem;
    @include media("<phone") {
      overflow: scroll;
      gap: 1.2rem;
      margin-top: 3.3rem;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100vw;
      margin-left: -2.2rem;
      padding: unset;
    }

    & > a {
      width: fit-content;
      cursor: inherit;
      @include media("<phone") {
        width: 62.1rem;
        &:first-of-type {
          margin-left: 2.2rem;
        }
        &:last-of-type {
          margin-right: 2.2rem;
        }
      }
    }
  }

  li {
    width: 115.8rem;
    height: 51.8rem;
    // scroll-snap-align: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;
    background-color: unset;
    @include media("<phone") {
      width: 62.1rem;
      height: 40.7rem;
      gap: 1, 2rem;
    }

    article {
      bottom: 6rem;
      left: 4.5rem;
      @include media("<phone") {
        bottom: 3.444rem;
        left: 3.2rem;
      }
    }

    div {
      width: 57.1rem;
      height: 51.8rem;
      background: #ffffff;
      border-radius: 1.6rem;
      padding: 5.8rem 4.5rem 6rem;
      @include media("<phone") {
        width: 30.4rem;
        height: 40.7rem;
        padding: 3.3rem 3.2rem 3.444rem;
        overflow: hidden;
      }
    }

    h4 {
      font-family: "Nohemi";
      font-style: normal;
      font-weight: 700;
      font-size: 2rem;
      line-height: 0.8;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #000000;
      display: flex;
      align-items: center;
      gap: 0.6rem;
      @include media("<phone") {
        font-size: 1.4rem;
      }

      span {
        width: 1.2rem;
        height: 1.2rem;
        background-color: #f8a519;
        border-radius: 50%;
        @include media("<phone") {
          width: 0.8rem;
          height: 0.8rem;
        }
      }
    }

    h3 {
      width: 38.5rem;
      font-family: "Euclid Circular A";
      font-style: normal;
      font-weight: 500;
      font-size: 3rem;
      line-height: 105.26%;
      color: #000000;
      position: static;
      margin-top: 3.2rem;
      @include media("<phone") {
        width: unset;
        font-size: 2rem;
        margin-top: 1.6rem;
      }
    }

    a {
      display: flex;
      bottom: 6rem;
      left: 4.5rem;
      position: absolute;
      gap: 1.2rem;
      // @include media("<phone") {
      //   z-index: 10;
      //   filter: invert(1);
      //   left: 50%;
      //   transform: translateX(-50%);
      //   bottom: 15.2rem;
      //   gap: 0.4rem;
      // }
    }

    figure {
      width: 57.1rem;
      height: 51.8rem;
      background: #f3f0e7;
      border-radius: 1.6rem;
      position: static;
      overflow: hidden;
      @include media("<phone") {
        width: 30.5rem;
        height: 40.7rem;
      }

      img {
        display: block;
        @include media("<phone") {
          position: static;
        }
      }
    }
  }
}
