.BlogHero {
  padding: 2.9rem 12rem 0;
  @include media("<phone") {
    padding: 1.3rem 1.6rem 0;
  }
}

.BlogHero__wrapper {
  display: flex;
  gap: 1rem;
  @include media("<phone") {
    flex-direction: column;
    gap: unset;
  }
}

.BlogHero__left {
  border-radius: 2.4rem;
  overflow: hidden;
  position: relative;
  width: 81.3rem;
  height: 51.8rem;
  @include media("<phone") {
    width: 35.7rem;
    height: 29.4rem;
    position: relative;
    z-index: 1;
  }

  figure {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  div {
    position: relative;
    padding: 26.2rem 36.8rem 5.9rem 6rem;
    @include media("<phone") {
      padding: 14.2rem 2.9rem 3.251rem;
    }
  }

  h4 {
    font-family: "Nohemi";
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 0.8;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    @include media("<phone") {
      font-size: 1.312rem;
      line-height: 1;
      gap: 0.4rem;
    }

    span {
      width: 1.2rem;
      height: 1.2rem;
      background-color: #f8a519;
      border-radius: 50%;
      @include media("<phone") {
        width: 0.787rem;
        height: 0.787rem;
      }
    }
  }

  h3 {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 105.26%;
    color: #ffffff;
    margin-top: 1.6rem;
    @include media("<phone") {
      font-size: 1.968rem;
      margin-top: 1.049rem;
    }
  }

  a {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #ffffff;
    position: relative;
    text-decoration: underline;
    margin-top: 4rem;
    text-underline-offset: 0.25em;
    display: flex;
    gap: 1.2rem;
    @include media("<phone") {
      gap: 0.4rem;
      margin-top: 1.6rem;
      font-size: 1.312rem;
    }
  }
}

.BlogHero__right {
  display: grid;
  width: 37.7rem;
  height: 51.8rem;
  overflow: hidden;
  background: #ffffff;
  border-radius: 2.4rem;
  padding: 1.6rem 2rem;
  @include media("<phone") {
    margin-inline: 0.6rem;
    width: unset;
    height: 52.8rem;
    position: relative;
    top: -7.5rem;
    border-radius: 2.2rem;
    padding: 8.982rem 1.6rem 1.18rem;
  }

  li {
    position: relative;
    &:after {
      content: "";
      width: 100%;
      height: 0.1rem;
      background-color: #f5f5f5;
      position: absolute;
      bottom: -0.05rem;
      left: 0;
    }

    &:last-of-type::after {
      display: none;
    }

    div {
      padding: 2.8rem 1.6rem;
      @include media("<phone") {
        padding: 0;
        padding: 2.4rem 1.15rem;
      }
    }

    h4 {
      font-family: "Nohemi";
      font-style: normal;
      font-weight: 700;
      font-size: 1.461rem;
      line-height: 1;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #000000;
      display: flex;
      align-items: flex-start;
      gap: 0.55rem;
      @include media("<phone") {
        font-size: 1.337rem;
        gap: 0.501rem;
      }

      span {
        width: 1.1rem;
        height: 1.1rem;
        background-color: #f8a519;
        border-radius: 50%;
        @include media("<phone") {
          width: 1rem;
          height: 1rem;
        }
      }
    }

    h3 {
      font-family: "Euclid Circular A";
      font-style: normal;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 105.26%;
      color: #000000;
      margin-top: 0.6rem;
      @include media("<phone") {
        width: unset;
        font-size: 1.4rem;
        margin-top: 0.55rem;
      }
    }

    a {
      font-family: "Euclid Circular A";
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1;
      letter-spacing: -0.02em;
      color: #787878;
      text-decoration: underline;
      text-underline-offset: 0.25em;
      display: flex;
      gap: 0.628rem;
      margin-top: 1.6rem;
      @include media("<phone") {
        gap: 0.575rem;
        font-size: 1.3rem;
      }
    }

    svg {
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}
