.__blog {
  padding-top: 9.6rem;
  // position: relative;
  background-color: #f5f5f5;

  .Searcher {
    margin-top: 2.4rem;
    @include media("<phone") {
      margin-top: 0;
    }
  }
}

.blog__more {
  font-family: "Euclid Circular A";
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #090908;
  position: relative;
  text-decoration: underline;
  margin: 8.4rem auto 11rem;
  text-underline-offset: 0.25em;
  display: flex;
  @include media("<phone") {
    margin: 2.9rem auto 17.6rem;
    font-size: 1.312rem;
  }
}

@import "./hero.scss";
