$breakpoints: (
  "phone": 760px,
  "tablet": 1024px,
  "desktop": 1920px,
) !default;

@import "../node_modules/include-media/dist/include-media";
@import "../node_modules/cloudinary-video-player/dist/cld-video-player.min";
// @import url(https://db.onlinewebfonts.com/c/29ddb4605533a38e086b48fa105e0d12?family=Nohemi);
// @import url(https://db.onlinewebfonts.com/c/340730b16e1fc32fe6c5e2ce1d020a54?family=Nohemi+Med);
// @import url(https://db.onlinewebfonts.com/c/a575313c6dc4fd00c1a9506e1c3ea4fc?family=Euclid+Circular+A);
// @import url(https://db.onlinewebfonts.com/c/c9c7790611487f10ab2d674f6a8909d6?family=EuclidCircularA-Bold);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html {
  font-size: calc(100vw / 1440 * 10);
  background-color: #f5f5f5;
  color: #090908;
  @include media("<phone") {
    font-size: calc(100vw / 390 * 10);
    width: 100vw !important;
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"] {
      font-size: 16px !important;
    }
  }

  &:has(.__video) {
    overflow: hidden;
  }

  &:has(.FooterLite) {
    .Footer__top,
    .Footer__bottom {
      display: none;
    }
    @include media("<phone") {
      .Footer__bottom {
        display: block;
        overflow: clip;
        position: relative;
        top: 12.6rem;
      }
    }
  }
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  // user-select: none;
  // -moz-user-select: none;
  // -webkit-user-select: none;
  -webkit-user-drag: none;
  overflow: hidden;
  &.active {
    overflow: unset;
  }
  padding-bottom: 0.1rem;
  &:has(.__studio, .__podcasts, .__payment, .__contact, .__tag, .__support, .__article) {
    padding-bottom: unset;
    background-color: #090908;
  }
  // height: 900rem;
}

[data-desktop] {
  @include media("<phone") {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

[data-mobile] {
  @include media(">=phone") {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

%watch {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.28095rem 0.753498rem;
  gap: 0.864rem;
  width: 10rem * 1.2;
  height: 4.169rem * 1.2;
  background: #f8a519;
  border-radius: 0.8rem;
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.357;
  white-space: nowrap;
  margin: 0;
  color: #090908;
  transition: 0.2s ease-out !important;
  &:hover {
    transition: 0.5s ease-in-out !important;
    border-radius: 8.2rem;
    span {
      color: #ffffff;
    }
    path {
      stroke: #ffffff;
    }
  }

  svg {
    width: 1.6rem * 1.5;
    height: 1.6rem * 1.5;
    @include media("<phone") {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  @include media("<phone") {
    width: 10rem;
    height: 3.8rem;
    font-size: 1.4rem;
  }
}

#root {
  overflow: hidden;
}

.loading {
  position: relative;
  padding: 1.6rem 1.6rem;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

.loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 0.4rem solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

.loading2 {
  position: relative;
  padding: 1.6rem 1.6rem;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

.loading2::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 0.4rem solid transparent;
  border-top-color: #f8a519;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

.vid__loader {
  width: 100%;
  height: 21.6rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  opacity: 0.5;

  div {
    height: 21.6rem;
    background: #cccccc;
    background: linear-gradient(110deg, #cccccc 8%, #ffffff 18%, #cccccc 30%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.lcr {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
  position: fixed;
  z-index: 100;
  height: 4.4rem;
  left: 50%;
  transform: translateX(-50%);
  top: 10rem;
  background: #252527;
  border-radius: 1.6rem;
  @include media("<phone") {
    max-width: 95vw;
    width: max-content;
    height: max-content;
    padding: 1rem 2rem;
    top: 5rem;
    transform: translateX(-50%) scale(0.75);
  }

  svg {
    width: 2.4rem;
    height: 2.4rem;
  }

  p {
    font-family: "Euclid Circular A";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.3rem;
    letter-spacing: -0.02em;
    color: #ffffff;
  }
}

.css-1nmdiq5-menu {
  // & > div {
  //   overflow: scroll !important;
  //   height: 15rem !important;
  //   overscroll-behavior: contain;
  // }
}

.scale-1\.2 {
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.text-white {
  color: #ffffff !important;
}
.w-full {
  width: 100%;
  height: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
.absolute-full {
  position: absolute;
  width: 100%;
  height: 100%;
}

.pt {
  &-2 {
    padding-top: 0.5rem;
  }
  &-4 {
    padding-top: 1rem;
  }
  &-6 {
    padding-top: 1.5rem;
  }
  &-8 {
    padding-top: 2rem;
  }
  &-10 {
    padding-top: 2.5rem;
  }
}

.mt {
  &-2 {
    margin-top: 0.5rem;
  }
  &-4 {
    margin-top: 1rem;
  }
  &-6 {
    margin-top: 1.5rem;
  }
  &-8 {
    margin-top: 2rem;
  }
}

.mb {
  &-2 {
    margin-bottom: 0.5rem;
  }
  &-4 {
    margin-bottom: 1rem;
  }
  &-6 {
    margin-bottom: 1.5rem;
  }
  &-8 {
    margin-bottom: 2rem;
  }
}
.translate-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gradient-overlay {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) -26.3%,
    rgba(0, 0, 0, 0.7) 100%
  );
  z-index: 10;
}

.invert-1 {
  filter: invert(1) !important;
}
.invert-0 {
  filter: invert(0) !important;
}